In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
##pip install matplotlib

In [3]:
## pip install seaborn

In [4]:
## pip install scipy

In [5]:
## pip install sklearn

In [6]:
# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt 
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
#from scipy.stats import shapiro, kstest, poisson, chisquare, ttest_ind, levene, bartlett, sem, ppf
import scipy.stats as stats
from scipy.stats import shapiro, levene
from scipy.stats import ttest_ind
from scipy.stats import mannwhitneyu
from scipy.stats import chi2_contingency

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [7]:
def exploracion(df):
    """
    Realiza una exploración inicial y descriptiva de un DataFrame para identificar información relevante
    sobre los datos, como valores nulos, duplicados, tipos de datos, y estadísticas generales.
    La función también imprime un resumen de las columnas categóricas y numéricas del DataFrame.
    Parámetros:
    -----------
    dataframe (DataFrame): El DataFrame que contiene los datos.
    Descripción:
    ------------
    La función realiza los siguientes análisis y genera la siguiente información:
    - El número de filas y columnas del DataFrame.
    - La cantidad de datos duplicados y su porcentaje en relación al total.
    - La cantidad de columnas con valores nulos y las columnas sin valores nulos.
    - El tipo de dato de cada columna.
    - El número de valores únicos por columna.
    Además, la función imprime estadísticas descriptivas de las columnas categóricas (si las hay) y
    numéricas (si las hay) del DataFrame."""
    df_info = pd.DataFrame()
    df_info["% nulos"] = round(df.isna().sum() / df.shape[0] * 100, 2).astype(str) + "%"
    df_info["% no_nulos"] = (
        round(df.notna().sum() / df.shape[0] * 100, 2).astype(str) + "%"
    )
    df_info["tipo_dato"] = df.dtypes
    df_info["num_valores_unicos"] = (
        df.nunique()
    )  # devuelve el número de valores únicos en la columna.
    print(f"""El DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas.
Tiene {df.duplicated().sum()} datos duplicados, lo que supone un porcentaje de {round(df.duplicated().sum()/df.shape[0]*100, 2)}% de los datos.
Hay {len(list(df_info[(df_info["% nulos"] != "0.0%")].index))} columnas con datos nulos, y son:
{list(df_info[(df_info["% nulos"] != "0.0%")].index)}
y sin nulos hay {len(list(df_info[(df_info["% nulos"] == "0.0%")].index))} columnas y son:
{list(df_info[(df_info["% nulos"] == "0.0%")].index)}
A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:""")
    print("Principales estadísticos de las columnas categóricas:")
    if (
        df.select_dtypes(include="object").shape[1] > 0
    ):  # Verificar si hay columnas categóricas
        display(df.describe(include="O").T)
    else:
        print("No hay columnas categóricas en el DataFrame.")
    print("Principales estadísticos de las columnas numéricas:")
    if (
        df.select_dtypes(exclude="object").shape[1] > 0
    ):  # Verificar si hay columnas numéricas
        display(df.describe(exclude="O").T)
    else:
        print("No hay columnas numéricas en el DataFrame.")
    return df_info

In [8]:
## DATAFRAME KAGGLE: https://www.kaggle.com/datasets/vesuvius13/serial-killers-dataset?select=5_to_14_victim_count.csv:

In [9]:
df_1 = pd.read_csv('1.csv')

In [10]:
df_2 = pd.read_csv('2.csv')

In [11]:
df_3 = pd.read_csv('3.csv')

In [12]:
df_4 = pd.read_csv('4.csv')

In [13]:
df_unido = pd.concat([df_1, df_2,df_3,df_4],axis=0)
df_unido

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Carl Eugene Watts,United States,1974 to 1982,14,80+,Believed to have killed over 80 women in multi...
1,Philipp Tyurin,Soviet Union,1945 to 1946,14,29,"Known as the ""Leningrad Maniac"" and the ""Hellr..."
2,Zdzisław Marchwicki,Poland,1964 to 1970,14,21+,Also known as Vampire of Zagłębie. Killed 14 w...
3,Monster of Florence,Italy,1968 to 1985,14,16,Unidentified killer who shot couples in lovers...
4,Joachim Kroll,West Germany,1955 to 1976,14,NaN,"Known as the ""Ruhr Cannibal"" and ""The Duisburg..."
...,...,...,...,...,...,...
24,Leonarda Cianciulli,Italy,1939 to 1940,3,-,"Murdered three women in the town of Correggio,..."
25,Özkan Zengin,Turkey,2008,3,4,Slit the throats of three confirmed victims be...
26,Albert Fish,United States,1924 to 1932,3,9-100+,American serial killer and child rapist who co...
27,Heriberto Seda,United States,1990 to 1996,3,8+,Considered to be a copycat of the Zodiac Kille...
28,John Martin,United Kingdom,1995,3,3+,"(Birth name John Martin Scripps, alias Simon J..."

In [14]:
## Dividir columna Years active en dos (Start year y End year y añadir una nueva columna para 'Active years')

In [15]:
df_unido['Years active'].unique()

array(['1974 to 1982', '1945 to 1946', '1964 to 1970', '1968 to 1985',
       '1955 to 1976', '1972 to 1989', '1974 to 1975', '1991',
       '1998 to 2001', '1995 to 1999', '2002 to 2004', '2004 to 2006',
       '2005', '1930s to 1947', '1900? to 1908?', '1934 to 1938', '2003',
       '1984 to 1985', '1990s to 2007', '1975 to 1980', '1995 to 2015',
       '1972 to 1973', '1962 to 1964', '1977 to 1993', '1979 to 1986',
       '1978 to 1981', '1984 to 1986', '1987 to 2002', '2002 to 2003',
       '1982 to 1989', '1990 to 2006', '2007', '2007 to 2008',
       '1980s to 1988', '1908 to 1935', '1953 to 1982', '1986 to 1992',
       '1991 to 2005', '2000 to 2002', '1978 to 1983', '1977 to 1978',
       '1975 to 1976', '1990 to 1998', '1975', '1998 to 2003',
       '1980 to 1981', '1985', 'c.1900 to 1912', '1990 to 1996',
       '1992 to 1999', 'late 1990s to 2006', '2008 to 2012',
       '1974 to 1992', '1964 to 1975', '1991 to 1992', '1927 to 1954',
       '1915 to 1919', '2003 to 2005', '2007 to 2009', '1993 to 1999',
       '1987 to 1994', '1971', '1992 to 1995', '1938 to 1942',
       '2008 and earlier', '1997 to 1998', '2008', '1998 to 2002',
       '1933 to 1936', '2000 to 2003', '1946 to 1947', '1983',
       '1996 to 2011', '1985 to 2007', '1999', '1984', '1990 to 1997',
       '2004 to 2008', '1964 to 1973', '1974 to 2004', '1997 to present',
       '1905 to 1908', '1990 to 1994', '1977 to 1979', '1995 to 1998',
       '2004 to 2012', '2006 to 2008', '1996 to 1998', '1980 to 1982',
       '1974 to 2006', '1986 to 1989', '1913 to 1930', '1974 to 1978',
       '1986 to 1994', '1984 to 1992', '1989 to 1993', '1913 to 1920',
       '1966 to 1992', '1981 to 1996', '1958 to 1983', '2009 to 2012',
       '1988 to 1989', '2015 to 2016', '1996 to 2000', '2000s',
       '1958 to 1963', '1977 to 1980', '1928? to 1946', '1990 to 1995',
       '1971 to 1979', '1982 to 1983', '1980 to 1988', '1918 to 1919',
       '1965 to 1987', '2010 to 2017', '2007 to 2018', '1980 and earlier',
       '1964 to 1971', '1991 to 1999', '1990s', '1980s to 2010s', '1986',
       '1979 to 1981', '1997', '1960 to 1980', '2003 to 2016',
       '1981 to 2004', '2002', '2002 to 2018', '1989 to 1990',
       '2016 to 2018', '1976 to 1977', '1980 to 1999', '1950s',
       '2005 to 2006', '1990s to 2015', '1986 to 1990', '2000 to 2006',
       '2014 to 2015', '1977 to 1994', '1978 to 2002', '1962 to 1977',
       '1957 to 2009', '1915 to 1929', '2006', '1981 to 1987',
       '1948 to 1951', '1989 to 1992', '1976 to 1996',
       '30 June 1983 to 23 July 1983', '1900 to 1924', '1989 to 2003',
       '2010 to 2013', '2000 to 2001', '1993 to 2000', '1996 to 1997',
       '1939 to 1951', '1973 to 1979', '1985 to 1989', '1918 to 1924',
       '1912 to 1916', '1981 to 1985', '1989 to 2006', '1997 to 2006',
       '1926 to 1927', '1977 to 1995', '1999 to 2003', '1965 to 1977',
       '1979 to 1980', '1917 to 1935', '2003 to 2004', '1880 to 1908',
       '1960s to 1970s', '2007 to 2012', '2005 to 2009', '1991 to 1996',
       '1982 to 1984', '1986 to 1996', '1988 to 1993', '1998 to 2006',
       '2008 to 2011', '1920 to 1926', '1998', '1994 to 2002', '1974',
       '1984 to 1987', '1996 to 2002', '1994 to 1995', '2001',
       '2001 to 2003', '2004', '1992 to 2002', '2002 to 2010',
       '1971 to 1983', '1987 to 2001', '1978 to 1991', '1987 to 1988',
       '2008 to 2009', '1975 to 1998', '1948 to 1980', '1969 to 1982',
       '1974 to 1987', '1997 to 1999', '2008 to 2015', '1911',
       '1980 to 1983', '1986 to 1999', '1987 to 1998', '1950s to 1956',
       '1983 to 1997', '1978 to 2001', '1933 to 1935', '1969 to 1979',
       '1998 to 1999', '1992 to 2010', '1974 to 1986', '1967 to 2003',
       '1970 to 2005', '1981 to 1983', '1978 to 1990', '1989 to 1996',
       '1934 to 1935', '1982', '1983 to 2002', '1982 to 2000',
       '1992 to 2006', '1995 to 2003', '1986 to 1997', '1965 to 1968',
       '2011 to 2014', '1984 to 2005', '1971 to 1985', '1906 and earlier',
       '1920 to 1930', '1972 to 1978', '1907 to 1934', '1921 to 1923',
       '1982 to 1999', '1999 to 2006', '2011 to 2012', '1971 to 2004',
       '1981 to 1986', '1946 to 1958', '1949 and earlier', '1993 to 2010',
       '1985 to 1986', '1912 and earlier', '1960 to 1964', '1978 to 1996',
       '1991 to 2006', '1986 to 1987', '1909 to 1928', '1947 to 1952',
       '2009 to 2010', '2007 to 2013', '1982 to 1988', '1973 to 1975',
       '1939 to 1940', '1924 to 1932', '1995'], dtype=object)

In [16]:
# Función para extraer el año inicial
def extract_start_year(years):
    parts = years.split(" to ")
    start = parts[0].strip()
    if 's' in start:  # Manejar décadas como "1930s"
        start = start.replace('s', '')  # Convertir "1930s" -> "1930"
    if '?' in start:  # Eliminar signos de interrogación
        start = start.replace('?', '')  # Convertir "1900?" -> "1900"
    return int(start) if start.isdigit() else None

# Función para extraer el año final
def extract_end_year(years):
    parts = years.split(" to ")
    if len(parts) > 1:
        end = parts[1].strip()
        if 's' in end:  # Manejar décadas como "1930s"
            end = end.replace('s', '')  # Convertir "1930s" -> "1930"
        if '?' in end:  # Eliminar signos de interrogación
            end = end.replace('?', '')  # Convertir "1900?" -> "1900"
        return int(end) if end.isdigit() else None
    return int(parts[0]) if parts[0].isdigit() else None

# Aplicar las funciones al DataFrame
df_unido['start_year'] = df_unido['Years active'].apply(extract_start_year)
df_unido['end_year'] = df_unido['Years active'].apply(extract_end_year)

# Calcular el tiempo activo en años
df_unido['active_years'] = df_unido['end_year'] - df_unido['start_year']

# Mostrar el DataFrame resultante
df_unido

,Name,Country,Years active,Proven victims,Possible victims,Notes,start_year,end_year,active_years
0,Carl Eugene Watts,United States,1974 to 1982,14,80+,Believed to have killed over 80 women in multi...,1974.0,1982.0,8.0
1,Philipp Tyurin,Soviet Union,1945 to 1946,14,29,"Known as the ""Leningrad Maniac"" and the ""Hellr...",1945.0,1946.0,1.0
2,Zdzisław Marchwicki,Poland,1964 to 1970,14,21+,Also known as Vampire of Zagłębie. Killed 14 w...,1964.0,1970.0,6.0
3,Monster of Florence,Italy,1968 to 1985,14,16,Unidentified killer who shot couples in lovers...,1968.0,1985.0,17.0
4,Joachim Kroll,West Germany,1955 to 1976,14,NaN,"Known as the ""Ruhr Cannibal"" and ""The Duisburg...",1955.0,1976.0,21.0
...,...,...,...,...,...,...,...,...,...
24,Leonarda Cianciulli,Italy,1939 to 1940,3,-,"Murdered three women in the town of Correggio,...",1939.0,1940.0,1.0
25,Özkan Zengin,Turkey,2008,3,4,Slit the throats of three confirmed victims be...,2008.0,2008.0,0.0
26,Albert Fish,United States,1924 to 1932,3,9-100+,American serial killer and child rapist who co...,1924.0,1932.0,8.0
27,Heriberto Seda,United States,1990 to 1996,3,8+,Considered to be a copycat of the Zodiac Kille...,1990.0,1996.0,6.0
28,John Martin,United Kingdom,1995,3,3+,"(Birth name John Martin Scripps, alias Simon J...",1995.0,1995.0,0.0

In [17]:
df_unido['start_year'] = df_unido['start_year'].fillna(0).astype(int)
df_unido['end_year'] = df_unido['end_year'].fillna(0).astype(int)
df_unido['active_years'] = df_unido['active_years'].fillna(0).astype(int)

In [18]:
df_unido = df_unido.drop(columns=['Years active'])

In [19]:
df_unido = df_unido.drop(columns=['Notes'])

In [20]:
df_unido = df_unido.rename(columns={
    'start_year': 'Start_year',
    'end_year': 'End_year',
    'active_years': 'Active_years'
})

In [21]:
años_actividad_con_ceros = df_unido[df_unido['Active_years'] == 0]

In [22]:
años_inicio_con_ceros = df_unido[df_unido['Start_year'] == 0]

In [23]:
años_fin_con_ceros = df_unido[df_unido['End_year'] == 0]

In [24]:
años_actividad_con_ceros

,Name,Country,Proven victims,Possible victims,Start_year,End_year,Active_years
7,Marcelo Costa de Andrade,Brazil,14,NaN,1991,1991,0
12,Amir Qayyum,Pakistan,14,NaN,2005,2005,0
16,Kaspars Petrovs,Latvia,13,38+,2003,2003,0
33,Thozamile Taki,South Africa,13,NaN,2007,2007,0
45,Nikolai Shestakov,Soviet Union,12,NaN,1975,1975,0
48,"""Paraquat murders"" killer",Japan,12,NaN,1985,1985,0
49,Enriqueta Martí,Spain,12,Unknown,0,1912,0
53,Juana Barraza,Mexico,11,29–49,0,2006,0
65,Robledo Puch,Argentina,11,NaN,1971,1971,0
68,Very Idham Henyansyah,Indonesia,11,NaN,0,0,0
70,Roshu Kha,Bangladesh,11,NaN,2008,2008,0
76,Milton Johnson,United States,10,17,1983,1983,0
80,Sergey Cherny,Russia,10,11,1999,1999,0
81,Bobby Joe Long,United States,10,10+,1984,1984,0
86,Ali Kaya,Turkey,10,NaN,1997,0,0
112,Timothy Krajcir,United States,9,NaN,2000,0,0
113,Edgecombe County Serial Killer,United States,9,10,2000,0,0
121,Christopher Wilder,United States,8,13+,1984,1984,0
127,Nikolai Dzhumagaliev,Soviet Union,7,50–100,0,0,0
130,Ivan Milat,Australia,7,23–37,1990,0,0
132,Kenneth Erskine,United Kingdom,7,11,1986,1986,0
134,Vladimir Kuzmin,Russia,7,11,1997,1997,0
138,Derrick Todd Lee,United States,7,10,2002,2002,0
145,Władysław Mazurkiewicz,Poland,6,30,1950,0,0
158,Steve Wright,United Kingdom,5,5–22,2006,2006,0
163,Sek Kim Wah,Singapore,5,-,0,0,0
9,Juan Corona,United States,25,25+,1971,1971,0
24,Abdullah Shah,Afghanistan,20,20+,1990,0,0
37,Velaphi Ndlangamandla,South Africa,19,19,1998,1998,0
39,Paul John Knowles,United States,18,35+,1974,1974,0
44,Asande Baninzi,South Africa,18,18,2001,2001,0
47,Darbara Singh,India,17,23,2004,2004,0
52,Mohammed Bijeh,Iran,16,20,2004,2004,0
58,Elias Xitavhudzi,South Africa,16,16,1950,0,0
59,Jimmy Maketta,South Africa,16,16,2005,2005,0
69,Atlanta Ripper,United States,15,21,1911,1911,0
74,Florencio Fernández,Argentina,15,15,1950,0,0
13,Florisvaldo de Oliveira,Brazil,50,50+,1982,1982,0
24,Hadj Mohammed Mesfewi,Morocco,36,36+,0,0,0
27,Clementine Barnabet,United States,35,35,1911,1911,0
3,Ernesto Picchioni,Italy,4,16,0,0,0
7,Robert Hicks Murray,United Kingdom,4,11+,0,0,0
8,Dallen Bounds,United States,4,4+,1999,1999,0
15,Pedro Padilla Flores,Mexico,3,30,1986,1986,0
25,Özkan Zengin,Turkey,3,4,2008,2008,0
28,John Martin,United Kingdom,3,3+,1995,1995,0

In [25]:
# Reemplazar los valores de 'Active_years' por 1 únicamente cuando 'Start_year' es igual a 'End_year'
df_unido.loc[df_unido['Start_year'] == df_unido['End_year'], 'Active_years'] = 1

# Verificar los cambios
rows_with_start_equal_end = df_unido[df_unido['Start_year'] == df_unido['End_year']]
rows_with_start_equal_end

,Name,Country,Proven victims,Possible victims,Start_year,End_year,Active_years
7,Marcelo Costa de Andrade,Brazil,14,NaN,1991,1991,1
12,Amir Qayyum,Pakistan,14,NaN,2005,2005,1
16,Kaspars Petrovs,Latvia,13,38+,2003,2003,1
33,Thozamile Taki,South Africa,13,NaN,2007,2007,1
45,Nikolai Shestakov,Soviet Union,12,NaN,1975,1975,1
48,"""Paraquat murders"" killer",Japan,12,NaN,1985,1985,1
65,Robledo Puch,Argentina,11,NaN,1971,1971,1
68,Very Idham Henyansyah,Indonesia,11,NaN,0,0,1
70,Roshu Kha,Bangladesh,11,NaN,2008,2008,1
76,Milton Johnson,United States,10,17,1983,1983,1
80,Sergey Cherny,Russia,10,11,1999,1999,1
81,Bobby Joe Long,United States,10,10+,1984,1984,1
121,Christopher Wilder,United States,8,13+,1984,1984,1
127,Nikolai Dzhumagaliev,Soviet Union,7,50–100,0,0,1
132,Kenneth Erskine,United Kingdom,7,11,1986,1986,1
134,Vladimir Kuzmin,Russia,7,11,1997,1997,1
138,Derrick Todd Lee,United States,7,10,2002,2002,1
158,Steve Wright,United Kingdom,5,5–22,2006,2006,1
163,Sek Kim Wah,Singapore,5,-,0,0,1
9,Juan Corona,United States,25,25+,1971,1971,1
37,Velaphi Ndlangamandla,South Africa,19,19,1998,1998,1
39,Paul John Knowles,United States,18,35+,1974,1974,1
44,Asande Baninzi,South Africa,18,18,2001,2001,1
47,Darbara Singh,India,17,23,2004,2004,1
52,Mohammed Bijeh,Iran,16,20,2004,2004,1
59,Jimmy Maketta,South Africa,16,16,2005,2005,1
69,Atlanta Ripper,United States,15,21,1911,1911,1
13,Florisvaldo de Oliveira,Brazil,50,50+,1982,1982,1
24,Hadj Mohammed Mesfewi,Morocco,36,36+,0,0,1
27,Clementine Barnabet,United States,35,35,1911,1911,1
3,Ernesto Picchioni,Italy,4,16,0,0,1
7,Robert Hicks Murray,United Kingdom,4,11+,0,0,1
8,Dallen Bounds,United States,4,4+,1999,1999,1
15,Pedro Padilla Flores,Mexico,3,30,1986,1986,1
25,Özkan Zengin,Turkey,3,4,2008,2008,1
28,John Martin,United Kingdom,3,3+,1995,1995,1

In [26]:
### Limpieza columna Possible Victims:

In [27]:
posibles_victimas = df_unido['Possible victims'].tolist()

In [28]:
posibles_victimas

['80+',
 '29',
 '21+',
 '16',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '44',
 '40+',
 '40+',
 '38+',
 '20',
 '16+',
 '15',
 '13+',
 '13+',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '100',
 '31–80+',
 '22',
 '20',
 '17',
 '15–16',
 '15',
 '13',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Unknown',
 '25+',
 nan,
 '40+',
 '29–49',
 '17–20',
 '15',
 '13',
 nan,
 nan,
 nan,
 'Unknown',
 nan,
 'Unknown',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '25',
 '17',
 '14',
 '13',
 '25',
 '11',
 '10+',
 '10+',
 '10+',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '19+',
 '100',
 '79',
 '34',
 '22',
 '20',
 '17',
 '15',
 '14+',
 '14+',
 '11+',
 '11',
 '11',
 '11',
 '10+',
 nan,
 '10',
 'Unknown',
 '20',
 'Unknown',
 '160',
 '130+',
 '22',
 '17',
 '13+',
 '12+',
 '12',
 '10',
 nan,
 nan,
 '50–100',
 '48',
 '43+',
 '23–37',
 '18',
 '11',
 '11',
 '11',
 '10',
 '7',
 '10',
 '10',
 '10',
 nan,
 nan,
 nan,
 nan,
 '70?',
 '30',
 '20+',
 '15+',
 '14+',
 '13',
 '12',
 '11',
 '10',
 '6+',
 '85–100',
 '37',
 '17–25',
 '22',
 '5–22',
 '11',
 '10+',
 nan,
 '10',
 '-',
 '42+',
 '42',
 '30',
 '45',
 '28',
 '35+',
 '27+',
 '26',
 '25+',
 '25+',
 '27+',
 '24+',
 '24',
 '150',
 '23+',
 '23',
 '25',
 '22',
 '50+',
 '43+',
 '36+',
 '26+',
 '26',
 '21',
 '20+',
 '20+',
 '20',
 '20',
 '82+',
 '23+',
 '30+',
 '19+',
 '19+',
 '19+',
 '19+',
 '19',
 '19',
 '19',
 '40+',
 '35+',
 '21',
 '44',
 '18+',
 '18+',
 '18',
 '25',
 '25',
 '23',
 '19',
 '17',
 '17',
 '65–67',
 '20',
 '19',
 '19',
 '19',
 '17',
 '16+',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 nan,
 nan,
 '30+',
 '21',
 '21',
 '18',
 '15+',
 '15',
 '15',
 '15',
 '15',
 '15',
 '172–300+',
 '300+',
 '100',
 '83+',
 '180',
 '100+',
 '70+',
 '67',
 '93',
 '80-300',
 '56',
 '52+',
 '50',
 '50+',
 '49',
 '71–90+',
 '60',
 '60+',
 '70–80+',
 '41',
 '~39',
 '76',
 '80–100',
 '43–55+',
 '36+',
 '~35',
 '36–100+',
 '35',
 '34+',
 '33',
 '33',
 '100+',
 '32+',
 '32',
 '29',
 '18+',
 '18',
 '16',
 '14',
 '13',
 '12',
 '11+',
 '4+',
 '4+',
 '4',
 '3',
 '3',
 '50+',
 '48',
 '30',
 '20+',
 '17',
 '16',
 '14',
 '12',
 '10',
 '9–25',
 '12',
 '-',
 '4',
 '9-100+',
 '8+',
 '3+']

In [29]:
def clean_victims(value):
    try:
        if pd.isna(value) or value == 'Unknown' or value == '-':
            return np.nan  # Convertir valores irrelevantes a NaN

        # Remover '+' en cualquier posición
        value = value.replace('+', '').strip()

        # Si el valor contiene un rango (e.g., '9–25', '31–80'), tomar el último número
        if '–' in value or '-' in value:
            parts = value.replace('–', '-').split('-')
            if parts[-1].strip().isdigit():
                return int(parts[-1].strip())  # Tomar el último número del rango
        
        # Si el valor contiene '?', eliminarlo y convertir
        if '?' in value:
            clean_value = value.replace('?', '').strip()
            if clean_value.isdigit():
                return int(clean_value)

        # Si el valor es numérico, convertirlo
        if value.strip().isdigit():
            return int(value.strip())
        
        # Si no se cumple ninguna condición, devolver NaN
        return np.nan
    except Exception as e:
        # Mostrar el valor problemático y el error
        print(f"Error processing value: {value} -> {e}")
        return np.nan

In [30]:
# Aplicar la función al DataFrame con los valores problemáticos
df_unido['Possible victims'] = df_unido['Possible victims'].apply(clean_victims)

# Reemplazar NaN con 0 y convertir a int
df_unido['Possible victims'] = df_unido['Possible victims'].fillna(0).astype(int)

# Verificar el resultado
print(df_unido['Possible victims'])

0      80
1      29
2      21
3      16
4       0
     ...
24      0
25      4
26    100
27      8
28      3
Name: Possible victims, Length: 305, dtype: int64

In [31]:
### Limpieza columna Proven Victims:

In [32]:
# Convertir a int columna Proven Victims
df_unido['Proven victims'].unique()

array(['14', '13', '12', '11–16', '11', '10', '9–13', '9', '8', '8–15',
       '8–11+', '7', '6', '5', 30, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19,
       18, 17, 16, 15, 138, 110, 100, 83, 72, 71, 70, 67, 60, 58, 53, 52,
       50, 49, 48, 45, 42, 41, 39, 38, 36, 35, 33, 32, 4, 3], dtype=object)

In [33]:
def clean_proven_victims(value):
    try:
        # Convertir el valor a cadena para asegurar compatibilidad con métodos de texto
        value = str(value).strip()

        # Si el valor contiene un rango (e.g., '11–16' o '8–11+'), tomar el último número
        if '–' in value or '-' in value:
            parts = value.replace('–', '-').replace('+', '').split('-')
            return int(parts[-1].strip())  # Tomar el último número del rango
        
        # Si el valor contiene '+', tomarlo como el número base
        if '+' in value:
            return int(value.replace('+', '').strip())

        # Si el valor es numérico, convertirlo directamente
        if value.isdigit():
            return int(value)
        
        # Si no se cumple ninguna condición, devolver NaN
        return np.nan
    except Exception as e:
        # Manejar errores e imprimir el valor problemático
        print(f"Error processing value: {value} -> {e}")
        return np.nan

In [34]:
# Aplicar la función a la columna Proven victims
df_unido['Proven victims'] = df_unido['Proven victims'].apply(clean_proven_victims)

# Verificar el resultado
df_unido['Proven victims']

0     14
1     14
2     14
3     14
4     14
      ..
24     3
25     3
26     3
27     3
28     3
Name: Proven victims, Length: 305, dtype: int64

In [35]:
df_unido['Proven victims'].unique()

array([ 14,  13,  12,  16,  11,  10,   9,   8,  15,   7,   6,   5,  30,
        28,  27,  26,  25,  24,  23,  22,  21,  20,  19,  18,  17, 138,
       110, 100,  83,  72,  71,  70,  67,  60,  58,  53,  52,  50,  49,
        48,  45,  42,  41,  39,  38,  36,  35,  33,  32,   4,   3])

In [36]:
df_unido = df_unido.rename(columns={
    'Start_year': 'Start year',
    'End_year': 'End year',
    'Active_years': 'Active years'
})

In [37]:
df_unido.info()

<class 'pandas.core.frame.DataFrame'>
Index: 305 entries, 0 to 28
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              305 non-null    object
 1   Country           305 non-null    object
 2   Proven victims    305 non-null    int64
 3   Possible victims  305 non-null    int64
 4   Start year        305 non-null    int64
 5   End year          305 non-null    int64
 6   Active years      305 non-null    int64
dtypes: int64(5), object(2)
memory usage: 19.1+ KB

In [38]:
### Creamos DF de género de los serial killers

In [39]:
df_genero = pd.read_csv('serial_killers_gender.csv', encoding='latin1')
df_genero.head(3)

                  Name Gender
0    Carl Eugene Watts   Male
1       Philipp Tyurin   Male
2  Zdzis?aw Marchwicki   Male

In [40]:
### Creamos DF de fecha de nacimiento y muerte de los serial killers

df_birth_death = pd.read_csv('serial_killers_birth_death.csv', encoding='latin1')
df_birth_death

                    Name  Year_of_Birth  Year_of_Death
0      Carl Eugene Watts         1953.0         2007.0
1         Philipp Tyurin         1960.0         1998.0
2    Zdzis?aw Marchwicki         1927.0         1977.0
3    Monster of Florence            NaN            NaN
4          Joachim Kroll         1933.0         1991.0
..                   ...            ...            ...
300  Leonarda Cianciulli         1894.0         1970.0
301         Özkan Zengin         1975.0            NaN
302          Albert Fish         1870.0         1936.0
303       Heriberto Seda         1967.0            NaN
304          John Martin         1960.0            NaN

[305 rows x 3 columns]

In [41]:
df_birth_death['Year_of_Birth'] = df_birth_death['Year_of_Birth'].fillna(0).astype(int) ## rellenamos nulos con ceros para poder pasar a INT

In [42]:
df_birth_death['Year_of_Death'] = df_birth_death['Year_of_Death'].fillna(0).astype(int) ## rellenamos nulos con ceros para poder pasar a INT

In [43]:
df_birth_death

                    Name  Year_of_Birth  Year_of_Death
0      Carl Eugene Watts           1953           2007
1         Philipp Tyurin           1960           1998
2    Zdzis?aw Marchwicki           1927           1977
3    Monster of Florence              0              0
4          Joachim Kroll           1933           1991
..                   ...            ...            ...
300  Leonarda Cianciulli           1894           1970
301         Özkan Zengin           1975              0
302          Albert Fish           1870           1936
303       Heriberto Seda           1967              0
304          John Martin           1960              0

[305 rows x 3 columns]

In [44]:
### Unimos los DF:

In [45]:
df_merged =  pd.merge(df_unido, df_genero, on="Name", how="outer")

In [46]:
df_serial_killers = pd.merge(df_merged, df_birth_death, on="Name", how="outer")

In [47]:
df_birth_death

                    Name  Year_of_Birth  Year_of_Death
0      Carl Eugene Watts           1953           2007
1         Philipp Tyurin           1960           1998
2    Zdzis?aw Marchwicki           1927           1977
3    Monster of Florence              0              0
4          Joachim Kroll           1933           1991
..                   ...            ...            ...
300  Leonarda Cianciulli           1894           1970
301         Özkan Zengin           1975              0
302          Albert Fish           1870           1936
303       Heriberto Seda           1967              0
304          John Martin           1960              0

[305 rows x 3 columns]

In [48]:
df_serial_killers

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death
0,"""Paraquat murders"" killer",Japan,12.0,0.0,1985.0,1985.0,1.0,NaN,NaN,NaN
1,Abdallah al-Hubal,Yemen,12.0,0.0,1990.0,1998.0,8.0,Male,1975.0,2003.0
2,Abdufatto Zamanov,Russia,14.0,0.0,2002.0,2004.0,2.0,Male,1965.0,2010.0
3,Abdullah Shah,Afghanistan,20.0,20.0,1990.0,0.0,0.0,Male,1970.0,2004.0
4,Adnan Çolak,Turkey,11.0,0.0,1992.0,1995.0,3.0,Male,1955.0,0.0
...,...,...,...,...,...,...,...,...,...,...
306,Zhang Yongming,China,11.0,20.0,2008.0,2012.0,4.0,Male,1956.0,2013.0
307,Zhou Kehua,China,10.0,0.0,2004.0,2012.0,8.0,Male,1965.0,2012.0
308,Zodiac Killer,United States,5.0,37.0,1962.0,1977.0,15.0,Male,0.0,0.0
309,Ángel Maturino Reséndiz,United States\r\nMexico,15.0,18.0,1986.0,1999.0,13.0,Male,1959.0,2006.0
310,Özkan Zengin,Turkey,3.0,4.0,2008.0,2008.0,1.0,Male,1975.0,0.0

In [49]:
unique_names_victims = set(df_unido['Name'])
unique_names_gender = set(df_genero['Name'])
unique_names_birth_death = set(df_birth_death['Name'])

# Comparar
print("Nombres en víctimas y género que no coinciden:")
print(unique_names_victims.symmetric_difference(unique_names_gender))

print("Nombres en víctimas y nacimiento/muerte que no coinciden:")
print(unique_names_victims.symmetric_difference(unique_names_birth_death))

Nombres en víctimas y género que no coinciden:
{'Władysław Mazurkiewicz', 'Hubert Pil?ík', 'Zdzisław Marchwicki', 'Hubert Pilčík', 'Ansis Kaupēns', '"Paraquat murders" killer', 'Yavuz Yap?c?o?lu', 'W?adys?aw Mazurkiewicz', 'Zdzis?aw Marchwicki', 'Ansis Kaup?ns', 'Paraquat murders killer', 'Yavuz Yapıcıoğlu'}
Nombres en víctimas y nacimiento/muerte que no coinciden:
{'Władysław Mazurkiewicz', 'Hubert Pil?ík', 'Zdzisław Marchwicki', 'Hubert Pilčík', 'Ansis Kaupēns', '"Paraquat murders" killer', 'Yavuz Yap?c?o?lu', 'W?adys?aw Mazurkiewicz', 'Zdzis?aw Marchwicki', 'Ansis Kaup?ns', 'Paraquat murders killer', 'Yavuz Yapıcıoğlu'}

In [50]:
import unicodedata
import re

# Función para normalizar nombres
def normalize_name(name):
    if pd.isna(name):
        return name  # Si es NaN, devolver como está
    # Convertir a minúsculas, eliminar acentos y caracteres especiales
    name = unicodedata.normalize('NFKD', name).encode('ascii', 'ignore').decode('utf-8')
    # Remover caracteres no alfanuméricos (excepto espacios)
    name = re.sub(r'[^a-zA-Z0-9\s]', '', name)
    return name.strip().lower()

# Normalizar nombres en los tres DataFrames
for df in [df_unido, df_genero, df_birth_death]:
    df['Name'] = df['Name'].apply(normalize_name)

# Reintentar la unión
df_merged = pd.merge(df_unido, df_genero, on="Name", how="outer")
df_merged = pd.merge(df_merged, df_birth_death, on="Name", how="outer")

# Revisar el nuevo número de filas
print("Filas en el DataFrame combinado después de normalización:", len(df_merged))

Filas en el DataFrame combinado después de normalización: 308

In [51]:
df_merged

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death
0,abdallah alhubal,Yemen,12.0,0.0,1990.0,1998.0,8.0,Male,1975.0,2003.0
1,abdufatto zamanov,Russia,14.0,0.0,2002.0,2004.0,2.0,Male,1965.0,2010.0
2,abdullah shah,Afghanistan,20.0,20.0,1990.0,0.0,0.0,Male,1970.0,2004.0
3,adnan colak,Turkey,11.0,0.0,1992.0,1995.0,3.0,Male,1955.0,0.0
4,adolf seefeldt,Germany,12.0,100.0,1908.0,1935.0,27.0,Male,1870.0,1936.0
...,...,...,...,...,...,...,...,...,...,...
303,zdzisaw marchwicki,Poland,14.0,21.0,1964.0,1970.0,6.0,Male,1927.0,1977.0
304,zhang jun,China,28.0,28.0,1993.0,2000.0,7.0,Male,1974.0,2001.0
305,zhang yongming,China,11.0,20.0,2008.0,2012.0,4.0,Male,1956.0,2013.0
306,zhou kehua,China,10.0,0.0,2004.0,2012.0,8.0,Male,1965.0,2012.0
307,zodiac killer,United States,5.0,37.0,1962.0,1977.0,15.0,Male,0.0,0.0

In [52]:
# Obtener nombres únicos en cada DataFrame
names_victims = set(df_unido['Name'])
names_gender = set(df_genero['Name'])
names_birth_death = set(df_birth_death['Name'])
names_combined = set(df_merged['Name'])

# Verificar nombres que no están en todos los DataFrames originales
only_in_combined = names_combined - (names_victims | names_gender | names_birth_death)
print("Nombres presentes solo en el combinado:", only_in_combined)

Nombres presentes solo en el combinado: set()

In [53]:
# Verificar filas duplicadas completas en el DataFrame combinado
duplicated_rows = df_merged[df_merged.duplicated(keep=False)]
print("Filas duplicadas en el DataFrame combinado:")
print(duplicated_rows)

Filas duplicadas en el DataFrame combinado:
Empty DataFrame
Columns: [Name, Country, Proven victims, Possible victims, Start year, End year, Active years, Gender, Year_of_Birth, Year_of_Death]
Index: []

In [54]:
# Filas con valores faltantes
rows_with_missing_values = df_merged[df_merged.isnull().any(axis=1)]
print("Filas con valores faltantes:")
print(rows_with_missing_values)

Filas con valores faltantes:
               Name         Country  Proven victims  Possible victims  \
24    ansis kaupens          Latvia            19.0              19.0
25     ansis kaupns             NaN             NaN               NaN
111   hubert pilcik  Czechoslovakia             5.0              10.0
112    hubert pilik             NaN             NaN               NaN
295  yavuz yapcoglu          Turkey            18.0              40.0
296   yavuz yapcolu             NaN             NaN               NaN

     Start year  End year  Active years Gender  Year_of_Birth  Year_of_Death
24       1920.0    1926.0           6.0    NaN            NaN            NaN
25          NaN       NaN           NaN   Male         1905.0         1927.0
111      1948.0    1951.0           3.0    NaN            NaN            NaN
112         NaN       NaN           NaN   Male         1891.0         1951.0
295      1994.0    2002.0           8.0    NaN            NaN            NaN
296         NaN       NaN           NaN   Male         1967.0            0.0

In [55]:
# Diccionario para corregir nombres
name_corrections = {
    "ansis kaupns": "ansis kaupens",
    "hubert pilik": "hubert pilcik",
    "yavuz yapcolu": "yavuz yapcoglu"
}

# Aplicar las correcciones a los tres DataFrames
for df in [df_unido, df_genero, df_birth_death]:
    df['Name'] = df['Name'].replace(name_corrections)

In [56]:
# Rehacer la unión
df_merged = pd.merge(df_unido, df_genero, on="Name", how="outer")
df_serial_killers = pd.merge(df_merged, df_birth_death, on="Name", how="outer")

# Verificar el nuevo número de filas
print("Filas en el DataFrame combinado después de correcciones:", len(df_serial_killers))

Filas en el DataFrame combinado después de correcciones: 305

In [57]:
# Filtrar filas con valores faltantes
rows_with_missing_values = df_serial_killers[df_serial_killers.isnull().any(axis=1)]
print("Filas con valores faltantes después de correcciones:")
print(rows_with_missing_values)

Filas con valores faltantes después de correcciones:
Empty DataFrame
Columns: [Name, Country, Proven victims, Possible victims, Start year, End year, Active years, Gender, Year_of_Birth, Year_of_Death]
Index: []

In [58]:
df_serial_killers

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death
0,abdallah alhubal,Yemen,12,0,1990,1998,8,Male,1975,2003
1,abdufatto zamanov,Russia,14,0,2002,2004,2,Male,1965,2010
2,abdullah shah,Afghanistan,20,20,1990,0,0,Male,1970,2004
3,adnan colak,Turkey,11,0,1992,1995,3,Male,1955,0
4,adolf seefeldt,Germany,12,100,1908,1935,27,Male,1870,1936
...,...,...,...,...,...,...,...,...,...,...
300,zdzisaw marchwicki,Poland,14,21,1964,1970,6,Male,1927,1977
301,zhang jun,China,28,28,1993,2000,7,Male,1974,2001
302,zhang yongming,China,11,20,2008,2012,4,Male,1956,2013
303,zhou kehua,China,10,0,2004,2012,8,Male,1965,2012
304,zodiac killer,United States,5,37,1962,1977,15,Male,0,0

In [59]:
# Capitalizar nombres en la columna 'Name'
df_serial_killers['Name'] = df_serial_killers['Name'].str.title()

# Verificar los resultados
df_serial_killers['Name'].head()

0     Abdallah Alhubal
1    Abdufatto Zamanov
2        Abdullah Shah
3          Adnan Colak
4       Adolf Seefeldt
Name: Name, dtype: object

In [60]:
df_serial_killers

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death
0,Abdallah Alhubal,Yemen,12,0,1990,1998,8,Male,1975,2003
1,Abdufatto Zamanov,Russia,14,0,2002,2004,2,Male,1965,2010
2,Abdullah Shah,Afghanistan,20,20,1990,0,0,Male,1970,2004
3,Adnan Colak,Turkey,11,0,1992,1995,3,Male,1955,0
4,Adolf Seefeldt,Germany,12,100,1908,1935,27,Male,1870,1936
...,...,...,...,...,...,...,...,...,...,...
300,Zdzisaw Marchwicki,Poland,14,21,1964,1970,6,Male,1927,1977
301,Zhang Jun,China,28,28,1993,2000,7,Male,1974,2001
302,Zhang Yongming,China,11,20,2008,2012,4,Male,1956,2013
303,Zhou Kehua,China,10,0,2004,2012,8,Male,1965,2012
304,Zodiac Killer,United States,5,37,1962,1977,15,Male,0,0

In [61]:
### Añadimos info sobre su captura

In [62]:
df_captura = pd.read_csv('serial_killers_captured_status.csv', encoding='Latin1')
df_captura.head(1)

                Name    Status
0  Carl Eugene Watts  Captured

In [63]:
df_captura.shape

(305, 2)

In [64]:
df_serial_killers_final = pd.merge(df_serial_killers,df_captura, on="Name", how="outer")

In [65]:
df_serial_killers_final.shape

(359, 11)

In [66]:
names_serial_killers = set(df_serial_killers['Name'])
names_captura = set(df_captura['Name'])

# Nombres que están en df_captura pero no en df_serial_killers
missing_names = names_captura - names_serial_killers
print("Nombres en df_captura pero no en df_serial_killers:", missing_names)

# Nombres que están en df_serial_killers pero no en df_captura
extra_names = names_serial_killers - names_captura
print("Nombres en df_serial_killers pero no en df_captura:", extra_names)

Nombres en df_captura pero no en df_serial_killers: {'Kang Ho-sun', 'Monster of Florence', 'Zdzis?aw Marchwicki', 'Tiago Henrique Gomes da Rocha', 'Özkan Zengin', 'Bruce McArthur', 'Ansis Kaup?ns', 'Louis van Schoor', 'Maryvale serial shooter', 'Henri Désiré Landru', 'Kenneth McDuff', 'Francisco García Escalero', 'Pedro López', 'Adrián Arroyo Gutiérrez', 'Florencio Fernández', 'John Floyd Thomas Jr.', 'Francisco Guerrero Pérez', 'Peter Kürten', 'Luis Gregorio Ramírez Maestre', 'Axeman of New Orleans', 'Michael Wayne McGray', 'Enriqueta Martí', 'Pedro Pablo Nakada Ludeña', 'Fernando Hernández Leyva', 'Angelo Buono Jr.', 'Jeong Nam-gyu', 'Francisco das Chagas Rodrigues de Brito', 'Francisco de Assis Pereira', 'Long Island serial killer', 'M. Jaishankar', 'Lonnie David Franklin Jr.', 'Robert Joseph Silveria Jr.', 'Lee Choon-jae', 'Dorángel Vargas', 'Tomás Maldonado Cera', 'András Pándy', 'Abdallah al-Hubal', 'El Psicópata', 'Paraquat murders killer', 'José Antonio Rodríguez Vega', 'W?adys?aw Mazurkiewicz', 'Ángel Maturino Reséndiz', 'Marcelo Costa de Andrade', 'Joseph James DeAngelo', 'Béla Kiss', 'Adnan Çolak', 'Cristopher Chávez Cuellar', 'Manuel Octavio Bermúdez', 'Julio Pérez Silva', 'Hubert Pil?ík', 'José Paz Bezerra', 'Florisvaldo de Oliveira', 'Yavuz Yap?c?o?lu', 'Yoo Young-chul'}
Nombres en df_serial_killers pero no en df_captura: {'Bruce Mcarthur', 'Jose Paz Bezerra', 'Wadysaw Mazurkiewicz', 'Axeman Of New Orleans', 'Manuel Octavio Bermudez', 'Peter Kurten', 'Kenneth Mcduff', 'Francisco Guerrero Perez', 'Julio Perez Silva', 'Angelo Buono Jr', 'Bela Kiss', 'Florencio Fernandez', 'M Jaishankar', 'Dorangel Vargas', 'Yoo Youngchul', 'Francisco De Assis Pereira', 'Long Island Serial Killer', 'Florisvaldo De Oliveira', 'Michael Wayne Mcgray', 'El Psicopata', 'Abdallah Alhubal', 'Ansis Kaupens', 'Joseph James Deangelo', 'Fernando Hernandez Leyva', 'Enriqueta Marti', 'Hubert Pilcik', 'Cristopher Chavez Cuellar', 'Adnan Colak', 'Luis Gregorio Ramirez Maestre', 'Louis Van Schoor', 'Angel Maturino Resendiz', 'Andras Pandy', 'Francisco Garcia Escalero', 'Tiago Henrique Gomes Da Rocha', 'Adrian Arroyo Gutierrez', 'Robert Joseph Silveria Jr', 'Jose Antonio Rodriguez Vega', 'Tomas Maldonado Cera', 'Henri Desire Landru', 'Yavuz Yapcoglu', 'Marcelo Costa De Andrade', 'Pedro Pablo Nakada Ludena', 'Paraquat Murders Killer', 'Francisco Das Chagas Rodrigues De Brito', 'Monster Of Florence', 'Ozkan Zengin', 'Lonnie David Franklin Jr', 'Maryvale Serial Shooter', 'Zdzisaw Marchwicki', 'Jeong Namgyu', 'Pedro Lopez', 'John Floyd Thomas Jr', 'Lee Choonjae', 'Kang Hosun'}

In [67]:
import unicodedata
import re

# Función para normalizar nombres
def normalize_name(name):
    if pd.isna(name):
        return name
    name = unicodedata.normalize('NFKD', name).encode('ascii', 'ignore').decode('utf-8')
    name = re.sub(r'[^a-zA-Z0-9\s]', '', name)
    return name.strip().title()

# Aplicar normalización a ambos DataFrames
df_serial_killers['Name'] = df_serial_killers['Name'].apply(normalize_name)
df_captura['Name'] = df_captura['Name'].apply(normalize_name)

In [68]:
names_serial_killers = set(df_serial_killers['Name'])
names_captura = set(df_captura['Name'])

missing_in_captura = names_serial_killers - names_captura
missing_in_serial_killers = names_captura - names_serial_killers

print("Nombres en df_serial_killers pero no en df_captura:", missing_in_captura)
print("Nombres en df_captura pero no en df_serial_killers:", missing_in_serial_killers)

Nombres en df_serial_killers pero no en df_captura: {'Ansis Kaupens', 'Hubert Pilcik', 'Yavuz Yapcoglu'}
Nombres en df_captura pero no en df_serial_killers: {'Hubert Pilik', 'Ansis Kaupns', 'Yavuz Yapcolu'}

In [69]:
# Diccionario para corregir nombres
name_corrections = {
    "Hubert Pilik": "Hubert Pilcik",
    "Yavuz Yapcolu": "Yavuz Yapcoglu",
    "Ansis Kaupns": "Ansis Kaupens"
}

# Aplicar las correcciones a ambos DataFrames
df_serial_killers['Name'] = df_serial_killers['Name'].replace(name_corrections)
df_captura['Name'] = df_captura['Name'].replace(name_corrections)

In [70]:
names_serial_killers = set(df_serial_killers['Name'])
names_captura = set(df_captura['Name'])

missing_in_captura = names_serial_killers - names_captura
missing_in_serial_killers = names_captura - names_serial_killers

print("Nombres en df_serial_killers pero no en df_captura:", missing_in_captura)
print("Nombres en df_captura pero no en df_serial_killers:", missing_in_serial_killers)

Nombres en df_serial_killers pero no en df_captura: set()
Nombres en df_captura pero no en df_serial_killers: set()

In [71]:
df_serial_killers_final = pd.merge(df_serial_killers, df_captura, on="Name", how="outer")

# Verificar el número de filas después de la unión
print("Filas en el DataFrame combinado:", len(df_serial_killers_final))

Filas en el DataFrame combinado: 305

In [72]:
exploracion(df_serial_killers_final)

El DataFrame tiene 305 filas y 11 columnas.
Tiene 0 datos duplicados, lo que supone un porcentaje de 0.0% de los datos.
Hay 0 columnas con datos nulos, y son:
[]
y sin nulos hay 11 columnas y son:
['Name', 'Country', 'Proven victims', 'Possible victims', 'Start year', 'End year', 'Active years', 'Gender', 'Year_of_Birth', 'Year_of_Death', 'Status']
A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:
Principales estadísticos de las columnas categóricas:

        count unique            top freq
Name      305    305  Zodiac Killer    1
Country   305     74  United States   92
Gender    305      2           Male  286
Status    305      2       Captured  274

Principales estadísticos de las columnas numéricas:

,count,mean,std,min,25%,50%,75%,max
Proven victims,305.0,16.537705,16.184566,3.0,8.0,12.0,18.0,138.0
Possible victims,305.0,25.855738,39.267037,0.0,0.0,16.0,28.0,300.0
Start year,305.0,1926.895082,317.779418,0.0,1971.0,1984.0,1996.0,2016.0
End year,305.0,1895.039344,417.046198,0.0,1978.0,1992.0,2003.0,2018.0
Active years,305.0,7.308197,8.272304,0.0,1.0,4.0,11.0,52.0
Year_of_Birth,305.0,1834.724590,460.967999,0.0,1939.0,1955.0,1967.0,1988.0
Year_of_Death,305.0,1017.121311,995.900040,0.0,0.0,1913.0,2001.0,2021.0

                 % nulos % no_nulos tipo_dato  num_valores_unicos
Name                0.0%     100.0%    object                 305
Country             0.0%     100.0%    object                  74
Proven victims      0.0%     100.0%     int64                  51
Possible victims    0.0%     100.0%     int64                  62
Start year          0.0%     100.0%     int64                  86
End year            0.0%     100.0%     int64                  79
Active years        0.0%     100.0%     int64                  36
Gender              0.0%     100.0%    object                   2
Year_of_Birth       0.0%     100.0%     int64                  79
Year_of_Death       0.0%     100.0%     int64                  71
Status              0.0%     100.0%    object                   2

In [73]:
# Mostrar nombres únicos
unique_names = df_serial_killers_final['Name'].unique()
print(unique_names)

['Abdallah Alhubal' 'Abdufatto Zamanov' 'Abdullah Shah' 'Adnan Colak'
 'Adolf Seefeldt' 'Adrian Arroyo Gutierrez' 'Ahmad Suradji'
 'Aileen Wuornos' 'Albert Fish' 'Alexander Bychkov' 'Alexander Labutkin'
 'Alexander Pichushkin' 'Alexander Sergeychik' 'Alexander Spesivtsev'
 'Ali Asghar Borujerdi' 'Ali Kaya' 'Amir Qayyum' 'Anatoly Onoprienko'
 'Anatoly Sedykh' 'Andras Pandy' 'Andre Crawford' 'Andrei Chikatilo'
 'Angel Maturino Resendiz' 'Angelo Buono Jr' 'Ansis Kaupens'
 'Anthony Sowell' 'Arthur Shawcross' 'Asande Baninzi' 'Atlanta Ripper'
 'Axeman Of New Orleans' 'Baekuni' 'Bai Baoshan' 'Bela Kiss'
 'Belle Gunness' 'Benjamin Atkins' 'Bernhard Prigan' 'Bertha Gifford'
 'Billy Glaze' 'Bobby Joe Long' 'Boston Strangler'
 'Bruce George Peter Lee' 'Bruce Mcarthur' 'Bulelani Mabhayi'
 'Carl Eugene Watts' 'Carl Panzram' 'Carroll Cole' 'Cedric Maake'
 'Charles Ray Hatcher' 'Charles Sobhraj' 'Charlie Brandt' 'Chester Turner'
 'Chisako Kakehi' 'Christopher Mhlengwa Zikode' 'Christopher Wilder'
 'Clementine Barnabet' 'Cleveland Torso Murderer' 'Clifford Olson'
 'Cristopher Chavez Cuellar' 'Dagmar Overbye' 'Dallen Bounds'
 'Daniel Camargo Barbosa' 'Daniel Lee Siebert' 'Darbara Singh'
 'David Berkowitz' 'David Carpenter' 'David Randitsheni'
 'David Thabo Simelane' 'Denis Pischikov' 'Dennis Nilsen' 'Dennis Rader'
 'Derrick Todd Lee' 'Donald Henry Gaskins' 'Donato Bilancia'
 'Dorangel Vargas' 'Dorothea Puente' 'Earle Nelson'
 'Edgecombe County Serial Killer' 'Edmund Kemper' 'Eduard Shemyakov'
 'El Psicopata' 'Elias Xitavhudzi' 'Elifasi Msomi' 'Elizabeth Wettlaufer'
 'Enriqueta Marti' 'Eric Edgar Cooke' 'Ernesto Picchioni' 'Ershad Sikder'
 'Fernando Hernandez Leyva' 'Florencio Fernandez'
 'Florisvaldo De Oliveira' 'Francis Heaulme' 'Francisco Antonio Laureana'
 'Francisco Das Chagas Rodrigues De Brito' 'Francisco De Assis Pereira'
 'Francisco Garcia Escalero' 'Francisco Guerrero Perez' 'Fritz Haarmann'
 'Gao Chengyong' 'Gary Ridgway' 'Gennady Mikhasevich'
 'Gilbert Paul Jordan' 'Giuseppe Greco' 'Gong Runbo'
 'Hadj Mohammed Mesfewi' 'Henri Desire Landru' 'Henry Louis Wallace'
 'Herb Baumeister' 'Herbert Mullin' 'Heriberto Seda' 'Huang Yong'
 'Hubert Pilcik' 'Igor Chernat' 'Irina Gaidamachuk' 'Ivan Maleshoff'
 'Ivan Milat' 'Jack Mogale' 'Jack Unterweger' 'Jake Bird' 'Javed Iqbal'
 'Jeanne Weber' 'Jeffrey Dahmer' 'Jeong Namgyu' 'Jimmy Maketta'
 'Joachim Kroll' 'Joe Metheny' 'Joel Rifkin' 'Johannes Mashiane'
 'John Bunting' 'John Floyd Thomas Jr' 'John Martin' 'John Wayne Gacy'
 'John Wayne Glover' 'Jose Antonio Rodriguez Vega' 'Jose Paz Bezerra'
 'Joseph Christopher' 'Joseph James Deangelo' 'Joseph Naso'
 'Joseph Paul Franklin' 'Juan Corona' 'Juan Fernando Hermosa'
 'Juana Barraza' 'Julio Perez Silva' 'Kampatimar Shankariya' 'Kang Hosun'
 'Karl Denke' 'Kaspars Petrovs' 'Keith Hunter Jesperson' 'Kenneth Bianchi'
 'Kenneth Erskine' 'Kenneth Mcduff' 'Kiyotaka Katsuta' 'Koos Hertogs'
 'Larry Eyler' 'Lee Choonjae' 'Leonarda Cianciulli'
 'Long Island Serial Killer' 'Lonnie David Franklin Jr' 'Lorenzo Gilyard'
 'Louis Van Schoor' 'Luis Garavito' 'Luis Gregorio Ramirez Maestre'
 'M Jaishankar' 'Majid Salek Mohammadi' 'Manuel Delgado Villegas'
 'Manuel Octavio Bermudez' 'Marcelo Costa De Andrade' 'Mariam Soulakiotis'
 'Marie Alexandrine Becker' 'Maryvale Serial Shooter' 'Maurizio Minghella'
 'Maury Travis' 'Max Gufler' 'Michael Wayne Mcgray' 'Michel Fourniret'
 'Michel Peiry' 'Mikhail Novosyolov' 'Mikhail Popkov' 'Milton Johnson'
 'Mohammed Bijeh' 'Mohan Kumar' 'Monster Of Florence' 'Moses Sithole'
 'Mukosi Freddy Mulaudzi' 'Naceur Damergi' 'Nannie Doss'
 'New Bedford Highway Killer' 'Nikolai Dudin' 'Nikolai Dzhumagaliev'
 'Nikolai Shestakov' 'Nikolay Shubin' 'Nikos Metaxas'
 'Norman Afzal Simons' 'Ohio Prostitute Killer' 'Oleg Kuznetsov'
 'Ozkan Zengin' 'Paraquat Murders Killer' 'Patrick Kearney'
 'Patrick Mackay' 'Paul John Knowles' 'Pedro Lopez'
 'Pedro Pablo Nakada Ludena' 'Pedro Padilla Flores'
 'Pedro Rodrigues Filho' 'Peter Kurten' 'Peter Sutcliffe' 'Peter Tobin'
 'Philipp Tyurin' 'Pierre Chanal' 'Radik Tagirov' 'Rainbow Maniac'
 'Ramadan Abdel Rehim Mansour' 'Raman Raghav' 'Randall Woodfield'
 'Randy Steven Kraft' 'Ravinder Kumar' 'Richard Biegenwald'
 'Richard Chase' 'Richard Cottingham' 'Richard Ramirez' 'Ricky Lee Green'
 'Robert Ben Rhoades' 'Robert Black' 'Robert Hansen' 'Robert Hicks Murray'
 'Robert Joseph Silveria Jr' 'Robert Lee Yates' 'Robert Maudsley'
 'Robert Wagner' 'Robledo Puch' 'Rodney Alcala' 'Roger Dale Stafford'
 'Ronald Dominique' 'Roshu Kha' 'Rudolf Pleil' 'Ruslan Khamarov'
 'Saeed Hanaei' 'Samuel Little' 'Satish' 'Seisaku Nakamura' 'Sek Kim Wah'
 'Sergei Dovzhenko' 'Sergei Ryakhovsky' 'Sergey Cherny' 'Sergey Golovkin'
 'Sergey Shipilov' 'Serhiy Tkach' 'Sharon Kinne' 'Sipho Agmatir Thwala'
 'Sleepy Hollow Killer' 'Stanislav Rogolev' 'Stephen Griffiths'
 'Stephen Port' 'Steve Wright' 'Stewart Wilken' 'Surinder Koli'
 'Tamara Samsonova' 'Ted Bundy' 'Ted Kaczynski' 'Terry Peder Rasmussen'
 'The Doodler' 'The Stoneman' 'Thierry Paulin' 'Thomas Dillon'
 'Thozamile Taki' 'Tiago Henrique Gomes Da Rocha' 'Timothy Krajcir'
 'Todd Kohlhepp' 'Tomas Maldonado Cera' 'Tommy Lynn Sells' 'Tommy Recco'
 'Umesh Reddy' 'Vadim Ershov' 'Vasile Tcaciuc' 'Vasili Komaroff'
 'Vasiliy Kulik' 'Vaughn Greenwood' 'Velaphi Ndlangamandla' 'Vera Renczi'
 'Very Idham Henyansyah' 'Viktor Fokin' 'Vladimir Kuzmin'
 'Vladimir Mirgorod' 'Vladimir Retunsky' 'Vladimir Romanov'
 'Vladimir Storozhenko' 'Volker Eckert' 'Wadysaw Mazurkiewicz'
 'Wang Qiang' 'West Mesa Killer' 'William Bonin' 'William Suff'
 'Willy Pickton' 'Yang Xinhai' 'Yavuz Yapcoglu' 'Yevgeny Chuplinsky'
 'Yevgeny Petrov' 'Yoo Youngchul' 'Yoshio Kodaira' 'Yuri Ivanov'
 'Yvan Keller' 'Zdzisaw Marchwicki' 'Zhang Jun' 'Zhang Yongming'
 'Zhou Kehua' 'Zodiac Killer']

In [74]:
### Añadir una columna para categorizar la actividad: 

# Crear la función para categorizar la actividad
def categorize_activity(victims):
    if pd.isna(victims):  # Manejar valores nulos
        return "Desconocido"
    elif victims <= 10:
        return "Actividad Baja"
    elif victims <= 50:
        return "Actividad moderada"
    else:
        return "Actividad Alta"

# Aplicar la función al DataFrame en la columna 'Proven victims'
df_serial_killers_final["Victim Range"] = df_serial_killers["Proven victims"].apply(categorize_activity)

# Verificar los resultados
print(df_serial_killers_final[["Name", "Proven victims", "Victim Range"]].head())

                Name  Proven victims        Victim Range
0   Abdallah Alhubal              12  Actividad moderada
1  Abdufatto Zamanov              14  Actividad moderada
2      Abdullah Shah              20  Actividad moderada
3        Adnan Colak              11  Actividad moderada
4     Adolf Seefeldt              12  Actividad moderada

In [75]:
df_serial_killers_final

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range
0,Abdallah Alhubal,Yemen,12,0,1990,1998,8,Male,1975,2003,Captured,Actividad moderada
1,Abdufatto Zamanov,Russia,14,0,2002,2004,2,Male,1965,2010,Captured,Actividad moderada
2,Abdullah Shah,Afghanistan,20,20,1990,0,0,Male,1970,2004,Captured,Actividad moderada
3,Adnan Colak,Turkey,11,0,1992,1995,3,Male,1955,0,Captured,Actividad moderada
4,Adolf Seefeldt,Germany,12,100,1908,1935,27,Male,1870,1936,Captured,Actividad moderada
...,...,...,...,...,...,...,...,...,...,...,...,...
300,Zdzisaw Marchwicki,Poland,14,21,1964,1970,6,Male,1927,1977,Captured,Actividad moderada
301,Zhang Jun,China,28,28,1993,2000,7,Male,1974,2001,Captured,Actividad moderada
302,Zhang Yongming,China,11,20,2008,2012,4,Male,1956,2013,Captured,Actividad moderada
303,Zhou Kehua,China,10,0,2004,2012,8,Male,1965,2012,Captured,Actividad Baja
304,Zodiac Killer,United States,5,37,1962,1977,15,Male,0,0,Not Captured,Actividad Baja

In [76]:
df_serial_killers_final['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [77]:
género = {'Male': 'Masculino', 'Female': 'Femenino'}

In [78]:
df_serial_killers_final['Gender'] = df_serial_killers_final['Gender'].replace(género)

In [79]:
df_serial_killers_final['Gender'].unique()

array(['Masculino', 'Femenino'], dtype=object)

In [80]:
df_serial_killers_final

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range
0,Abdallah Alhubal,Yemen,12,0,1990,1998,8,Masculino,1975,2003,Captured,Actividad moderada
1,Abdufatto Zamanov,Russia,14,0,2002,2004,2,Masculino,1965,2010,Captured,Actividad moderada
2,Abdullah Shah,Afghanistan,20,20,1990,0,0,Masculino,1970,2004,Captured,Actividad moderada
3,Adnan Colak,Turkey,11,0,1992,1995,3,Masculino,1955,0,Captured,Actividad moderada
4,Adolf Seefeldt,Germany,12,100,1908,1935,27,Masculino,1870,1936,Captured,Actividad moderada
...,...,...,...,...,...,...,...,...,...,...,...,...
300,Zdzisaw Marchwicki,Poland,14,21,1964,1970,6,Masculino,1927,1977,Captured,Actividad moderada
301,Zhang Jun,China,28,28,1993,2000,7,Masculino,1974,2001,Captured,Actividad moderada
302,Zhang Yongming,China,11,20,2008,2012,4,Masculino,1956,2013,Captured,Actividad moderada
303,Zhou Kehua,China,10,0,2004,2012,8,Masculino,1965,2012,Captured,Actividad Baja
304,Zodiac Killer,United States,5,37,1962,1977,15,Masculino,0,0,Not Captured,Actividad Baja

In [81]:
df_serial_killers_final['Status'].unique()

array(['Captured', 'Not Captured'], dtype=object)

In [82]:
estado = {'Captured': 'Capturado', 'Not Captured': 'No capturado'}

In [83]:
df_serial_killers_final['Status'] = df_serial_killers_final['Status'].replace(estado)

In [84]:
df_serial_killers_final

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range
0,Abdallah Alhubal,Yemen,12,0,1990,1998,8,Masculino,1975,2003,Capturado,Actividad moderada
1,Abdufatto Zamanov,Russia,14,0,2002,2004,2,Masculino,1965,2010,Capturado,Actividad moderada
2,Abdullah Shah,Afghanistan,20,20,1990,0,0,Masculino,1970,2004,Capturado,Actividad moderada
3,Adnan Colak,Turkey,11,0,1992,1995,3,Masculino,1955,0,Capturado,Actividad moderada
4,Adolf Seefeldt,Germany,12,100,1908,1935,27,Masculino,1870,1936,Capturado,Actividad moderada
...,...,...,...,...,...,...,...,...,...,...,...,...
300,Zdzisaw Marchwicki,Poland,14,21,1964,1970,6,Masculino,1927,1977,Capturado,Actividad moderada
301,Zhang Jun,China,28,28,1993,2000,7,Masculino,1974,2001,Capturado,Actividad moderada
302,Zhang Yongming,China,11,20,2008,2012,4,Masculino,1956,2013,Capturado,Actividad moderada
303,Zhou Kehua,China,10,0,2004,2012,8,Masculino,1965,2012,Capturado,Actividad Baja
304,Zodiac Killer,United States,5,37,1962,1977,15,Masculino,0,0,No capturado,Actividad Baja

In [85]:
df_serial_killers_final

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range
0,Abdallah Alhubal,Yemen,12,0,1990,1998,8,Masculino,1975,2003,Capturado,Actividad moderada
1,Abdufatto Zamanov,Russia,14,0,2002,2004,2,Masculino,1965,2010,Capturado,Actividad moderada
2,Abdullah Shah,Afghanistan,20,20,1990,0,0,Masculino,1970,2004,Capturado,Actividad moderada
3,Adnan Colak,Turkey,11,0,1992,1995,3,Masculino,1955,0,Capturado,Actividad moderada
4,Adolf Seefeldt,Germany,12,100,1908,1935,27,Masculino,1870,1936,Capturado,Actividad moderada
...,...,...,...,...,...,...,...,...,...,...,...,...
300,Zdzisaw Marchwicki,Poland,14,21,1964,1970,6,Masculino,1927,1977,Capturado,Actividad moderada
301,Zhang Jun,China,28,28,1993,2000,7,Masculino,1974,2001,Capturado,Actividad moderada
302,Zhang Yongming,China,11,20,2008,2012,4,Masculino,1956,2013,Capturado,Actividad moderada
303,Zhou Kehua,China,10,0,2004,2012,8,Masculino,1965,2012,Capturado,Actividad Baja
304,Zodiac Killer,United States,5,37,1962,1977,15,Masculino,0,0,No capturado,Actividad Baja

In [90]:
año_inicio_nulos = df_serial_killers_final[df_serial_killers_final['Start year'] == 0]

In [92]:
año_inicio_nulos['Name'].unique()

array(['Enriqueta Marti', 'Ernesto Picchioni', 'Hadj Mohammed Mesfewi',
       'Juana Barraza', 'Nikolai Dzhumagaliev', 'Robert Hicks Murray',
       'Sek Kim Wah', 'Very Idham Henyansyah'], dtype=object)

In [102]:
# Diccionario con los años de inicio de actividad
inicio_actividad = {
    'Enriqueta Marti': 1912,
    'Ernesto Picchioni': 1944,
    'Hadj Mohammed Mesfewi': np.nan,  # Desconocido
    'Juana Barraza': 1998,
    'Nikolai Dzhumagaliev': 1979,
    'Robert Hicks Murray': np.nan,    # Desconocido
    'Sek Kim Wah': 1983,
    'Very Idham Henyansyah': 2006, 
    'Hadj Mohammed Mesfewi': 1906, 
    'Robert Hicks Murray' : 1912
}

# Actualizar la columna 'Start year' en el DataFrame
df_serial_killers_final['Start year'] = df_serial_killers_final.apply(
    lambda row: inicio_actividad.get(row['Name'], row['Start year']),
    axis=1
)

# Verificar los resultados para las filas actualizadas
print(df_serial_killers_final[df_serial_killers_final['Name'].isin(inicio_actividad.keys())])

                      Name         Country  Proven victims  Possible victims  \
83         Enriqueta Marti           Spain              12                 0
85       Ernesto Picchioni           Italy               4                16
103  Hadj Mohammed Mesfewi         Morocco              36                36
140          Juana Barraza          Mexico              11                49
187   Nikolai Dzhumagaliev    Soviet Union               7               100
223    Robert Hicks Murray  United Kingdom               4                11
239            Sek Kim Wah       Singapore               5                 0
278  Very Idham Henyansyah       Indonesia              11                 0

     Start year  End year  Active years     Gender  Year_of_Birth  \
83       1912.0      1912             0   Femenino           1868
85       1944.0         0             1  Masculino           1900
103      1906.0         0             1  Masculino           1870
140      1998.0      2006             0   Femenino           1957
187      1979.0         0             1  Masculino           1952
223      1912.0         0             1  Masculino           1965
239      1983.0         0             1  Masculino           1963
278      2006.0         0             1  Masculino           1978

     Year_of_Death        Status        Victim Range  Age at First Crime
83            1913     Capturado  Actividad moderada                 NaN
85            1960     Capturado      Actividad Baja                 NaN
103           1906  No capturado  Actividad moderada                 NaN
140              0     Capturado  Actividad moderada                 NaN
187              0     Capturado      Actividad Baja                 NaN
223              0     Capturado      Actividad Baja                 NaN
239           1988     Capturado      Actividad Baja                 NaN
278              0     Capturado  Actividad moderada                 NaN

In [106]:
df_serial_killers_final['End year'].unique()

array([1998, 2004,    0, 1995, 1935, 2015, 1997, 1990, 1932, 2012, 2006,
       1996, 1934, 2005, 2003, 1999, 1979, 1926, 2009, 1989, 2001, 1911,
       1919, 2010, 1916, 1908, 1992, 1952, 1928, 1987, 1984, 1964, 2017,
       1982, 1929, 1980, 1976, 2013, 1938, 1981, 1920, 1986, 1977, 2008,
       1983, 2002, 1988, 1927, 1973, 1956, 2018, 1912, 1963, 1975, 1994,
       1924, 2000, 1985, 1951, 1947, 1991, 1993, 1978, 1970, 1971, 1940,
       2011, 2007, 1936, 2016, 1958, 1954, 1974, 1930, 1946, 1968, 1942,
       2014, 1923])

In [107]:
años_fin_nulos = df_serial_killers_final[df_serial_killers_final['End year'] == 0]

In [108]:
años_fin_nulos

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime
2,Abdullah Shah,Afghanistan,20,20,1990.0,0,0,Masculino,1970,2004,Capturado,Actividad moderada,20.0
15,Ali Kaya,Turkey,10,0,1997.0,0,0,Masculino,1970,0,Capturado,Actividad Baja,27.0
76,Edgecombe County Serial Killer,United States,9,10,2000.0,0,0,Masculino,0,0,No capturado,Actividad Baja,NaN
80,Elias Xitavhudzi,South Africa,16,16,1950.0,0,0,Masculino,1935,1960,No capturado,Actividad moderada,15.0
85,Ernesto Picchioni,Italy,4,16,1944.0,0,1,Masculino,1900,1960,Capturado,Actividad Baja,NaN
88,Florencio Fernandez,Argentina,15,15,1950.0,0,0,Masculino,1935,1968,No capturado,Actividad moderada,15.0
103,Hadj Mohammed Mesfewi,Morocco,36,36,1906.0,0,1,Masculino,1870,1906,No capturado,Actividad moderada,NaN
114,Ivan Milat,Australia,7,37,1990.0,0,0,Masculino,1944,2019,Capturado,Actividad Baja,46.0
187,Nikolai Dzhumagaliev,Soviet Union,7,100,1979.0,0,1,Masculino,1952,0,Capturado,Actividad Baja,NaN
223,Robert Hicks Murray,United Kingdom,4,11,1912.0,0,1,Masculino,1965,0,Capturado,Actividad Baja,NaN
239,Sek Kim Wah,Singapore,5,0,1983.0,0,1,Masculino,1963,1988,Capturado,Actividad Baja,NaN
265,Timothy Krajcir,United States,9,0,2000.0,0,0,Masculino,1944,0,Capturado,Actividad Baja,56.0
278,Very Idham Henyansyah,Indonesia,11,0,2006.0,0,1,Masculino,1978,0,Capturado,Actividad moderada,NaN
286,Wadysaw Mazurkiewicz,Poland,6,30,1950.0,0,0,Masculino,1911,1957,Capturado,Actividad Baja,39.0

In [109]:
años_fin_nulos['Name']

2                       Abdullah Shah
15                           Ali Kaya
76     Edgecombe County Serial Killer
80                   Elias Xitavhudzi
85                  Ernesto Picchioni
88                Florencio Fernandez
103             Hadj Mohammed Mesfewi
114                        Ivan Milat
187              Nikolai Dzhumagaliev
223               Robert Hicks Murray
239                       Sek Kim Wah
265                   Timothy Krajcir
278             Very Idham Henyansyah
286              Wadysaw Mazurkiewicz
Name: Name, dtype: object

In [119]:
# Diccionario con los años de fin de actividad
fin_actividad = {
    "Abdullah Shah": 2002,
    "Ali Kaya": 2002,
    "Edgecombe County Serial Killer": 2009,
    "Elias Xitavhudzi": 1960,
    "Ernesto Picchioni": 1952,
    "Florencio Fernandez": 1960,
    "Hadj Mohammed Mesfewi": 1906,
    "Ivan Milat": 1992,
    "Nikolai Dzhumagaliev": 1980,
    "Robert Hicks Murray": 1912,
    "Sek Kim Wah": 1983,
    "Timothy Krajcir": 1982,
    "Very Idham Henyansyah": 2008,
    "Wadysaw Mazurkiewicz": 1956,
}

df_serial_killers_final['End year'] = df_serial_killers_final['Name'].map(fin_actividad).fillna(df_serial_killers_final['End year'])

In [ ]:
### Creamos columna que indique la edad al cometer el primer crimen:

In [129]:
años_nacimiento_nulos = df_serial_killers_final[df_serial_killers_final['Year_of_Birth'] == 0]

In [131]:
años_nacimiento_nulos['Name'].unique()

array(['Atlanta Ripper', 'Axeman Of New Orleans',
       'Cleveland Torso Murderer', 'Edgecombe County Serial Killer',
       'El Psicopata', 'Long Island Serial Killer',
       'Maryvale Serial Shooter', 'Monster Of Florence',
       'New Bedford Highway Killer', 'Ohio Prostitute Killer',
       'Paraquat Murders Killer', 'Rainbow Maniac', 'Satish',
       'Sleepy Hollow Killer', 'The Doodler', 'The Stoneman',
       'West Mesa Killer', 'Zodiac Killer'], dtype=object)

In [132]:
# Realizar el cálculo solo cuando 'Year_of_Birth' sea mayor a 0
df_serial_killers_final['Age at First Crime'] = df_serial_killers_final.apply(
    lambda row: row['Start year'] - row['Year_of_Birth'] if row['Year_of_Birth'] > 0 else None,
    axis=1
)

# Verificar los valores únicos
print(df_serial_killers_final['Age at First Crime'].unique())

[ 15.  37.  20.  38.  32.  33.  54.  29. -47.  18.  21. -23.  27.  30.
  25.  59.  31.  42.  43.  48.  nan  35.  41.  23.  17.  13.  24.  10.
  40.  14.  60.  19.  39.   5.  26.  28.  44.  49.  34.  46.  53.  16.
  22.  36.  57. -36.  45.  56. -15. -53.   0.  50.   4.  52.]

In [124]:
df_serial_killers_final['Age at First Crime'].unique()

array([  15.,   37.,   20.,   38.,   32.,   33.,   54.,   29.,  -47.,
         18.,   21.,  -23.,   27.,   30.,   25.,   59.,   31.,   42.,
         43.,   48., 1911., 1918.,   35.,   41.,   23.,   17.,   13.,
         24.,   10.,   40.,   14.,   60.,   19.,   39., 1934.,    5.,
         26.,   28.,   44.,   49.,   34.,   46.,   53., 2000.,   16.,
         22., 1986.,   36.,   57.,  -36.,   45., 1996.,   56., 2015.,
       1968., 1988., 1981., 1985.,  -15., 2007.,  -53., 1995., 1990.,
          0., 1974.,   50., 2003.,    4.,   52., 1962.])

In [135]:
# Filtrar filas donde 'Age at First Crime' es negativa
negative_age_rows = df_serial_killers_final[df_serial_killers_final['Age at First Crime'] < 0]

# Mostrar las filas con valores negativos
negative_age_rows['Name']

10       Alexander Labutkin
14     Ali Asghar Borujerdi
113          Ivan Maleshoff
206          Philipp Tyurin
223     Robert Hicks Murray
272          Vasile Tcaciuc
Name: Name, dtype: object

In [136]:
negative_age_rows

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime
10,Alexander Labutkin,Soviet Union,15,15,1933.0,1935.0,2,Masculino,1980,0,Capturado,Actividad moderada,-47.0
14,Ali Asghar Borujerdi,Ottoman Empire\r\n Iraq\r\n Iran,33,33,1907.0,1934.0,27,Masculino,1930,1980,No capturado,Actividad moderada,-23.0
113,Ivan Maleshoff,Soviet Union,50,50,1934.0,1935.0,1,Masculino,1970,0,No capturado,Actividad moderada,-36.0
206,Philipp Tyurin,Soviet Union,14,29,1945.0,1946.0,1,Masculino,1960,1998,Capturado,Actividad moderada,-15.0
223,Robert Hicks Murray,United Kingdom,4,11,1912.0,1912.0,1,Masculino,1965,0,Capturado,Actividad Baja,-53.0
272,Vasile Tcaciuc,Romania,21,26,1917.0,1935.0,18,Masculino,1970,0,Capturado,Actividad moderada,-53.0

In [138]:
year_of_birth_updates = {
    'Alexander Labutkin': 1910,
    'Ali Asghar Borujerdi': 1860,
    'Ivan Maleshoff': 1905,
    'Philipp Tyurin': 1915,
    'Robert Hicks Murray': 1880,
    'Vasile Tcaciuc': 1910
}

In [139]:
df_serial_killers_final['Year_of_Birth'] = df_serial_killers_final['Name'].map(year_of_birth_updates).fillna(df_serial_killers_final['Year_of_Birth'])

In [140]:
# Realizar el cálculo solo cuando 'Year_of_Birth' sea mayor a 0
df_serial_killers_final['Age at First Crime'] = df_serial_killers_final.apply(
    lambda row: row['Start year'] - row['Year_of_Birth'] if row['Year_of_Birth'] > 0 else None,
    axis=1
)

# Verificar los valores únicos
print(df_serial_killers_final['Age at First Crime'].unique())

[15. 37. 20. 38. 32. 33. 54. 29. 23. 18. 21. 47. 27. 30. 25. 59. 31. 42.
 43. 48. nan 35. 41. 17. 13. 24. 10. 40. 14. 60. 19. 39.  5. 26. 28. 44.
 49. 34. 46. 53. 16. 22. 36. 57. 45. 56.  0.  7. 50.  4. 52.]

In [142]:
# Filtrar filas donde 'Age at First Crime' es igual a 5 o 7
rows_with_5_or_7 = df_serial_killers_final[df_serial_killers_final['Age at First Crime'].isin([5, 7])]

# Mostrar las filas
rows_with_5_or_7

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime
57,Cristopher Chavez Cuellar,Colombia,6,15,1990.0,2015.0,25,Masculino,1985.0,0,Capturado,Actividad Baja,5.0
111,Igor Chernat,Soviet Union,4,13,1985.0,1986.0,1,Masculino,1980.0,0,Capturado,Actividad Baja,5.0
272,Vasile Tcaciuc,Romania,21,26,1917.0,1935.0,18,Masculino,1910.0,0,Capturado,Actividad moderada,7.0

In [143]:
# Correcciones 

df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Cristopher Chavez Cuellar', 'Year_of_Birth'] = 1973

In [144]:
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Cristopher Chavez Cuellar']

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime
57,Cristopher Chavez Cuellar,Colombia,6,15,1990.0,2015.0,25,Masculino,1973.0,0,Capturado,Actividad Baja,5.0

In [145]:
# Realizar el cálculo solo cuando 'Year_of_Birth' sea mayor a 0
df_serial_killers_final['Age at First Crime'] = df_serial_killers_final.apply(
    lambda row: row['Start year'] - row['Year_of_Birth'] if row['Year_of_Birth'] > 0 else None,
    axis=1
)

# Verificar los valores únicos
print(df_serial_killers_final['Age at First Crime'].unique())

[15. 37. 20. 38. 32. 33. 54. 29. 23. 18. 21. 47. 27. 30. 25. 59. 31. 42.
 43. 48. nan 35. 41. 17. 13. 24. 10. 40. 14. 60. 19. 39. 26. 28. 44. 49.
 34. 46. 53. 16. 22. 36. 57.  5. 45. 56.  0.  7. 50.  4. 52.]

In [146]:
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Cristopher Chavez Cuellar']

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime
57,Cristopher Chavez Cuellar,Colombia,6,15,1990.0,2015.0,25,Masculino,1973.0,0,Capturado,Actividad Baja,17.0

In [147]:
# Cambiar el año de nacimiento de Igor Chernat
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Igor Chernat', 'Year_of_Birth'] = 1966

# Cambiar el año de muerte de Igor Chernat
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Igor Chernat', 'Year_of_Death'] = 1987

In [148]:
# Realizar el cálculo solo cuando 'Year_of_Birth' sea mayor a 0
df_serial_killers_final['Age at First Crime'] = df_serial_killers_final.apply(
    lambda row: row['Start year'] - row['Year_of_Birth'] if row['Year_of_Birth'] > 0 else None,
    axis=1
)

# Verificar los valores únicos
print(df_serial_killers_final['Age at First Crime'].unique())

[15. 37. 20. 38. 32. 33. 54. 29. 23. 18. 21. 47. 27. 30. 25. 59. 31. 42.
 43. 48. nan 35. 41. 17. 13. 24. 10. 40. 14. 60. 19. 39. 26. 28. 44. 49.
 34. 46. 53. 16. 22. 36. 57. 45. 56.  0.  7. 50.  4. 52.]

In [149]:
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Igor Chernat']

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime
111,Igor Chernat,Soviet Union,4,13,1985.0,1986.0,1,Masculino,1966.0,1987,Capturado,Actividad Baja,19.0

In [150]:
df_serial_killers_final['Age at First Crime'].unique()

array([15., 37., 20., 38., 32., 33., 54., 29., 23., 18., 21., 47., 27.,
       30., 25., 59., 31., 42., 43., 48., nan, 35., 41., 17., 13., 24.,
       10., 40., 14., 60., 19., 39., 26., 28., 44., 49., 34., 46., 53.,
       16., 22., 36., 57., 45., 56.,  0.,  7., 50.,  4., 52.])

In [151]:
# Filtrar filas donde 'Age at First Crime' es igual a 5 o 7
rows_with_4_or_7 = df_serial_killers_final[df_serial_killers_final['Age at First Crime'].isin([4, 7])]

# Mostrar las filas
rows_with_4_or_7

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime
272,Vasile Tcaciuc,Romania,21,26,1917.0,1935.0,18,Masculino,1910.0,0,Capturado,Actividad moderada,7.0
298,Yuri Ivanov,Soviet Union,16,16,1974.0,1987.0,13,Masculino,1970.0,0,Capturado,Actividad moderada,4.0

In [152]:
# Cambiar el año de nacimiento de Vasile Tcaciuc
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Vasile Tcaciuc', 'Year_of_Birth'] = 1900

# Cambiar el año de inicio de actividad criminal
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Vasile Tcaciuc', 'Start year'] = 1930

# Cambiar el año de fin de actividad criminal y muerte
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Vasile Tcaciuc', 'End year'] = 1935
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Vasile Tcaciuc', 'Year_of_Death'] = 1935

In [154]:
# Realizar el cálculo solo cuando 'Year_of_Birth' sea mayor a 0
df_serial_killers_final['Age at First Crime'] = df_serial_killers_final.apply(
    lambda row: row['Start year'] - row['Year_of_Birth'] if row['Year_of_Birth'] > 0 else None,
    axis=1
)

# Verificar los valores únicos
df_serial_killers_final['Age at First Crime'].unique()

array([15., 37., 20., 38., 32., 33., 54., 29., 23., 18., 21., 47., 27.,
       30., 25., 59., 31., 42., 43., 48., nan, 35., 41., 17., 13., 24.,
       10., 40., 14., 60., 19., 39., 26., 28., 44., 49., 34., 46., 53.,
       16., 22., 36., 57., 45., 56.,  0., 50.,  4., 52.])

In [157]:
# Filtrar filas donde 'Age at First Crime' es igual a 5 o 7
rows_with_4_or_7 = df_serial_killers_final[df_serial_killers_final['Age at First Crime'].isin([4., 7])]

# Mostrar las filas
rows_with_4_or_7

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime
298,Yuri Ivanov,Soviet Union,16,16,1974.0,1987.0,13,Masculino,1970.0,0,Capturado,Actividad moderada,4.0

In [156]:
df_serial_killers_final['Age at First Crime'].unique()

array([15., 37., 20., 38., 32., 33., 54., 29., 23., 18., 21., 47., 27.,
       30., 25., 59., 31., 42., 43., 48., nan, 35., 41., 17., 13., 24.,
       10., 40., 14., 60., 19., 39., 26., 28., 44., 49., 34., 46., 53.,
       16., 22., 36., 57., 45., 56.,  0., 50.,  4., 52.])

In [158]:
# Cambiar el año de nacimiento de Yuri Ivanov
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Yuri Ivanov', 'Year_of_Birth'] = 1956

# Cambiar el año de inicio de actividad criminal
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Yuri Ivanov', 'Start year'] = 1987

# Cambiar el año de muerte
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Yuri Ivanov', 'Year_of_Death'] = 1989

In [160]:
# Realizar el cálculo solo cuando 'Year_of_Birth' sea mayor a 0
df_serial_killers_final['Age at First Crime'] = df_serial_killers_final.apply(
    lambda row: row['Start year'] - row['Year_of_Birth'] if row['Year_of_Birth'] > 0 else None,
    axis=1
)

# Verificar los valores únicos
df_serial_killers_final['Age at First Crime'].unique()

array([15., 37., 20., 38., 32., 33., 54., 29., 23., 18., 21., 47., 27.,
       30., 25., 59., 31., 42., 43., 48., nan, 35., 41., 17., 13., 24.,
       10., 40., 14., 60., 19., 39., 26., 28., 44., 49., 34., 46., 53.,
       16., 22., 36., 57., 45., 56.,  0., 50., 52.])

In [161]:
df_serial_killers_final[df_serial_killers_final['Name'] == 'Yuri Ivanov']

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime
298,Yuri Ivanov,Soviet Union,16,16,1987.0,1987.0,13,Masculino,1956.0,1989,Capturado,Actividad moderada,31.0

In [162]:
df_serial_killers_final['Age at First Crime'].unique()

array([15., 37., 20., 38., 32., 33., 54., 29., 23., 18., 21., 47., 27.,
       30., 25., 59., 31., 42., 43., 48., nan, 35., 41., 17., 13., 24.,
       10., 40., 14., 60., 19., 39., 26., 28., 44., 49., 34., 46., 53.,
       16., 22., 36., 57., 45., 56.,  0., 50., 52.])

In [166]:
df_serial_killers_final.sample(10)

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime
268,Tommy Lynn Sells,United States,6,70,1980.0,1999.0,19,Masculino,1964.0,2014,Capturado,Actividad Baja,16.0
123,Joachim Kroll,West Germany,14,0,1955.0,1976.0,21,Masculino,1933.0,1991,Capturado,Actividad moderada,22.0
165,Marcelo Costa De Andrade,Brazil,14,0,1991.0,1991.0,1,Masculino,1967.0,0,Capturado,Actividad moderada,24.0
141,Julio Perez Silva,Chile,14,0,1998.0,2001.0,3,Masculino,1963.0,0,Capturado,Actividad moderada,35.0
285,Volker Eckert,East Germany\r\nGermany\r\nFrance\r\nSpain\r\n...,13,19,1974.0,2006.0,32,Masculino,1959.0,2007,Capturado,Actividad moderada,15.0
29,Axeman Of New Orleans,United States,8,12,1918.0,1919.0,1,Masculino,0.0,0,No capturado,Actividad Baja,NaN
11,Alexander Pichushkin,Russia,48,60,1992.0,2006.0,14,Masculino,1974.0,0,Capturado,Actividad moderada,18.0
142,Kampatimar Shankariya,India,70,70,1977.0,1978.0,1,Masculino,1952.0,1979,Capturado,Actividad Alta,25.0
181,Moses Sithole,South Africa,38,76,1994.0,1995.0,1,Masculino,1964.0,0,Capturado,Actividad moderada,30.0
18,Anatoly Sedykh,Russia,12,0,1998.0,2003.0,5,Masculino,1973.0,2005,Capturado,Actividad moderada,25.0

In [168]:
df_serial_killers_final[df_serial_killers_final['Name'] == 'Vasile Tcaciuc']

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime
272,Vasile Tcaciuc,Romania,21,26,1930.0,1935.0,18,Masculino,1900.0,1935,Capturado,Actividad moderada,30.0

In [169]:
# Función para calcular años activos solo si no hay nulos en Start year y End year
def calculate_active_years(row):
    if not pd.isnull(row['Start year']) and not pd.isnull(row['End year']):
        return row['End year'] - row['Start year']
    return None  # Devuelve None si hay nulos

# Aplicar la función al DataFrame
df_serial_killers_final['Active years'] = df_serial_killers_final.apply(calculate_active_years, axis=1)

# Verificar el resultado
print(df_serial_killers_final[['Name', 'Start year', 'End year', 'Active years']])

                   Name  Start year  End year  Active years
0      Abdallah Alhubal      1990.0    1998.0           8.0
1     Abdufatto Zamanov      2002.0    2004.0           2.0
2         Abdullah Shah      1990.0    2002.0          12.0
3           Adnan Colak      1992.0    1995.0           3.0
4        Adolf Seefeldt      1908.0    1935.0          27.0
..                  ...         ...       ...           ...
300  Zdzisaw Marchwicki      1964.0    1970.0           6.0
301           Zhang Jun      1993.0    2000.0           7.0
302      Zhang Yongming      2008.0    2012.0           4.0
303          Zhou Kehua      2004.0    2012.0           8.0
304       Zodiac Killer      1962.0    1977.0          15.0

[305 rows x 4 columns]

In [176]:
# Filtrar filas donde 'Age at First Crime' es igual a 5 o 7
rows_with_negatives= df_serial_killers_final[df_serial_killers_final['Active years'].isin([-18])]

# Mostrar las filas
rows_with_negatives

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime
265,Timothy Krajcir,United States,9,0,2000.0,1982.0,-18.0,Masculino,1944.0,0,Capturado,Actividad Baja,56.0

In [177]:
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Timothy Krajcir', 'Start year'] = 1977

In [178]:
# Realizar el cálculo solo cuando 'Year_of_Birth' sea mayor a 0
df_serial_killers_final['Age at First Crime'] = df_serial_killers_final.apply(
    lambda row: row['Start year'] - row['Year_of_Birth'] if row['Year_of_Birth'] > 0 else None,
    axis=1
)

# Verificar los valores únicos
df_serial_killers_final['Age at First Crime'].unique()

array([15., 37., 20., 38., 32., 33., 54., 29., 23., 18., 21., 47., 27.,
       30., 25., 59., 31., 42., 43., 48., nan, 35., 41., 17., 13., 24.,
       10., 40., 14., 60., 19., 39., 26., 28., 44., 49., 34., 46., 53.,
       16., 22., 36., 57., 45., 56.,  0., 50., 52.])

In [181]:
# Función para calcular años activos solo si no hay nulos en Start year y End year
def calculate_active_years(row):
    if not pd.isnull(row['Start year']) and not pd.isnull(row['End year']):
        return row['End year'] - row['Start year']
    return None  # Devuelve None si hay nulos

# Aplicar la función al DataFrame
df_serial_killers_final['Active years'] = df_serial_killers_final.apply(calculate_active_years, axis=1)

# Verificar el resultado
df_serial_killers_final[['Name', 'Start year', 'End year', 'Active years']]

                   Name  Start year  End year  Active years
0      Abdallah Alhubal      1990.0    1998.0           8.0
1     Abdufatto Zamanov      2002.0    2004.0           2.0
2         Abdullah Shah      1990.0    2002.0          12.0
3           Adnan Colak      1992.0    1995.0           3.0
4        Adolf Seefeldt      1908.0    1935.0          27.0
..                  ...         ...       ...           ...
300  Zdzisaw Marchwicki      1964.0    1970.0           6.0
301           Zhang Jun      1993.0    2000.0           7.0
302      Zhang Yongming      2008.0    2012.0           4.0
303          Zhou Kehua      2004.0    2012.0           8.0
304       Zodiac Killer      1962.0    1977.0          15.0

[305 rows x 4 columns]

In [182]:
df_serial_killers_final['Active years'].unique()

array([ 8.,  2., 12.,  3., 27.,  1., 11., 14.,  6.,  5.,  0.,  7.,  4.,
       13., 17., 19., 32., 33., 25., 30., 29.,  9., 10., 28., 18., 22.,
       21., 20., 52., 24., 26., 15., 16., 23., 36., 35.])

In [183]:
df_serial_killers_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                305 non-null    object
 1   Country             305 non-null    object
 2   Proven victims      305 non-null    int64
 3   Possible victims    305 non-null    int64
 4   Start year          305 non-null    float64
 5   End year            305 non-null    float64
 6   Active years        305 non-null    float64
 7   Gender              305 non-null    object
 8   Year_of_Birth       305 non-null    float64
 9   Year_of_Death       305 non-null    int64
 10  Status              305 non-null    object
 11  Victim Range        305 non-null    object
 12  Age at First Crime  287 non-null    float64
dtypes: float64(5), int64(3), object(5)
memory usage: 31.1+ KB

In [184]:
### cambiar float a int

# Reemplazar NaN con 0 para evitar errores en la conversión
columns_to_convert = ['Start year', 'End year', 'Active years', 'Year_of_Birth', 'Age at First Crime']
df_serial_killers_final[columns_to_convert] = df_serial_killers_final[columns_to_convert].fillna(0)

# Convertir las columnas a int
df_serial_killers_final[columns_to_convert] = df_serial_killers_final[columns_to_convert].astype(int)

# Verificar los cambios
print(df_serial_killers_final[columns_to_convert].dtypes)

Start year            int64
End year              int64
Active years          int64
Year_of_Birth         int64
Age at First Crime    int64
dtype: object

In [186]:
df_serial_killers_final.columns

Index(['Name', 'Country', 'Proven victims', 'Possible victims', 'Start year',
       'End year', 'Active years', 'Gender', 'Year_of_Birth', 'Year_of_Death',
       'Status', 'Victim Range', 'Age at First Crime'],
      dtype='object')

In [ ]:
### Añadir columna para era de actividad

In [187]:
df_serial_killers_final['Start year'].sort_values()

95     1880
33     1900
144    1900
119    1905
103    1906
       ...
264    2011
251    2014
5      2014
168    2015
190    2016
Name: Start year, Length: 305, dtype: int64

In [191]:
# Función para clasificar en décadas
def classify_era(start_year):
    if pd.isna(start_year):
        return "Desconocido"  # Manejar valores nulos
    elif start_year < 1900:
        return "Antes de 1900"
    elif 1900 <= start_year < 1910:
        return "1900-1909"
    elif 1910 <= start_year < 1920:
        return "1910-1919"
    elif 1920 <= start_year < 1930:
        return "1920-1929"
    elif 1930 <= start_year < 1940:
        return "1930-1939"
    elif 1940 <= start_year < 1950:
        return "1940-1949"
    elif 1950 <= start_year < 1960:
        return "1950-1959"
    elif 1960 <= start_year < 1970:
        return "1960-1969"
    elif 1970 <= start_year < 1980:
        return "1970-1979"
    elif 1980 <= start_year < 1990:
        return "1980-1989"
    elif 1990 <= start_year < 2000:
        return "1990-1999"
    elif 2000 <= start_year < 2010:
        return "2000-2009"
    elif 2010 <= start_year < 2020:
        return "2010-2019"
    else:
        return "2020 o después"

# Aplicar la función al DataFrame
df_serial_killers_final['Era Active'] = df_serial_killers_final['Start year'].apply(classify_era)

# Verificar los resultados
df_serial_killers_final[['Start year', 'Era Active']].head()

   Start year Era Active
0        1990  1990-1999
1        2002  2000-2009
2        1990  1990-1999
3        1992  1990-1999
4        1908  1900-1909

In [194]:
# Filtrar filas donde 'Active years' es igual a 0
rows_with_0 = df_serial_killers_final[df_serial_killers_final['Active years'] == 0]

# Mostrar las filas
rows_with_0

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime,Era Active
16,Amir Qayyum,Pakistan,14,0,2005,2005,0,Masculino,1972,2006,Capturado,Actividad moderada,33,2000-2009
27,Asande Baninzi,South Africa,18,18,2001,2001,0,Masculino,1980,0,Capturado,Actividad moderada,21,2000-2009
28,Atlanta Ripper,United States,15,21,1911,1911,0,Masculino,0,0,No capturado,Actividad moderada,0,1910-1919
38,Bobby Joe Long,United States,10,10,1984,1984,0,Masculino,1953,2019,Capturado,Actividad Baja,31,1980-1989
53,Christopher Wilder,United States,8,13,1984,1984,0,Masculino,1945,1984,Capturado,Actividad Baja,39,1980-1989
54,Clementine Barnabet,United States,35,35,1911,1911,0,Femenino,1894,1923,No capturado,Actividad moderada,17,1910-1919
59,Dallen Bounds,United States,4,4,1999,1999,0,Masculino,1971,1999,Capturado,Actividad Baja,28,1990-1999
62,Darbara Singh,India,17,23,2004,2004,0,Masculino,1962,0,Capturado,Actividad moderada,42,2000-2009
70,Derrick Todd Lee,United States,7,10,2002,2002,0,Masculino,1968,2016,Capturado,Actividad Baja,34,2000-2009
83,Enriqueta Marti,Spain,12,0,1912,1912,0,Femenino,1868,1913,Capturado,Actividad moderada,44,1910-1919
89,Florisvaldo De Oliveira,Brazil,50,50,1982,1982,0,Masculino,1958,0,Capturado,Actividad moderada,24,1980-1989
103,Hadj Mohammed Mesfewi,Morocco,36,36,1906,1906,0,Masculino,1870,1906,No capturado,Actividad moderada,36,1900-1909
122,Jimmy Maketta,South Africa,16,16,2005,2005,0,Masculino,1964,0,Capturado,Actividad moderada,41,2000-2009
129,John Martin,United Kingdom,3,3,1995,1995,0,Masculino,1960,0,Capturado,Actividad Baja,35,1990-1999
138,Juan Corona,United States,25,25,1971,1971,0,Masculino,1934,2019,Capturado,Actividad moderada,37,1970-1979
145,Kaspars Petrovs,Latvia,13,38,2003,2003,0,Masculino,1978,0,Capturado,Actividad moderada,25,2000-2009
148,Kenneth Erskine,United Kingdom,7,11,1986,1986,0,Masculino,1963,0,Capturado,Actividad Baja,23,1980-1989
165,Marcelo Costa De Andrade,Brazil,14,0,1991,1991,0,Masculino,1967,0,Capturado,Actividad moderada,24,1990-1999
177,Milton Johnson,United States,10,17,1983,1983,0,Masculino,1951,0,Capturado,Actividad Baja,32,1980-1989
178,Mohammed Bijeh,Iran,16,20,2004,2004,0,Masculino,1975,2005,Capturado,Actividad moderada,29,2000-2009
188,Nikolai Shestakov,Soviet Union,12,0,1975,1975,0,Masculino,1960,2008,Capturado,Actividad moderada,15,1970-1979
194,Ozkan Zengin,Turkey,3,4,2008,2008,0,Masculino,1975,0,Capturado,Actividad Baja,33,2000-2009
195,Paraquat Murders Killer,Japan,12,0,1985,1985,0,Masculino,0,0,No capturado,Actividad moderada,0,1980-1989
198,Paul John Knowles,United States,18,35,1974,1974,0,Masculino,1946,1974,Capturado,Actividad moderada,28,1970-1979
201,Pedro Padilla Flores,Mexico,3,30,1986,1986,0,Masculino,1958,0,Capturado,Actividad Baja,28,1980-1989
223,Robert Hicks Murray,United Kingdom,4,11,1912,1912,0,Masculino,1880,0,Capturado,Actividad Baja,32,1910-1919
228,Robledo Puch,Argentina,11,0,1971,1971,0,Masculino,1952,0,Capturado,Actividad moderada,19,1970-1979
232,Roshu Kha,Bangladesh,11,0,2008,2008,0,Masculino,1975,2012,Capturado,Actividad moderada,33,2000-2009
239,Sek Kim Wah,Singapore,5,0,1983,1983,0,Masculino,1963,1988,Capturado,Actividad Baja,20,1980-1989
242,Sergey Cherny,Russia,10,11,1999,1999,0,Masculino,1971,2006,Capturado,Actividad Baja,28,1990-1999
252,Steve Wright,United Kingdom,5,22,2006,2006,0,Masculino,1958,0,Capturado,Actividad Baja,48,2000-2009
263,Thozamile Taki,South Africa,13,0,2007,2007,0,Masculino,1971,0,Capturado,Actividad moderada,36,2000-2009
276,Velaphi Ndlangamandla,South Africa,19,19,1998,1998,0,Masculino,1960,0,Capturado,Actividad moderada,38,1990-1999
280,Vladimir Kuzmin,Russia,7,11,1997,1997,0,Masculino,1975,0,Capturado,Actividad Baja,22,1990-1999
298,Yuri Ivanov,Soviet Union,16,16,1987,1987,0,Masculino,1956,1989,Capturado,Actividad moderada,31,1980-1989

In [ ]:
### Añadir columna de intensidad por duracion

In [195]:
df_serial_killers_final["Active years"].replace(0, 1, inplace=True)

In [196]:
# Filtrar filas donde 'Active years' es igual a 0
rows_with_0 = df_serial_killers_final[df_serial_killers_final['Active years'] == 0]

# Mostrar las filas
rows_with_0

Empty DataFrame
Columns: [Name, Country, Proven victims, Possible victims, Start year, End year, Active years, Gender, Year_of_Birth, Year_of_Death, Status, Victim Range, Age at First Crime, Era Active]
Index: []

In [200]:
# Calcular intensidad por duración
df_serial_killers_final["Victims per Year"] = (
    df_serial_killers_final["Proven victims"] / df_serial_killers_final["Active years"]
)

# Redondear los valores para mayor claridad
df_serial_killers_final["Victims per Year"] = df_serial_killers_final["Victims per Year"].round()

In [203]:
df_serial_killers_final["Victims per Year"] = df_serial_killers_final["Victims per Year"].astype(int)

In [205]:
df_serial_killers_final["Victims per Year"].value_counts()

Victims per Year
1      55
2      48
0      33
3      26
4      23
6      21
5      13
16      9
7       8
13      8
10      7
12      6
8       6
11      6
14      5
9       4
18      3
17      3
50      2
21      2
19      2
22      2
27      1
28      1
35      1
15      1
29      1
25      1
100     1
36      1
23      1
20      1
70      1
32      1
38      1
Name: count, dtype: int64

In [213]:
altos = df_serial_killers_final[df_serial_killers_final['Victim Range'] == 'Actividad Alta']

In [214]:
altos

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime,Era Active,Victims per Year
17,Anatoly Onoprienko,Soviet Union\r\nUkraine,52,52,1989,1996,7,Masculino,1959,2013,Capturado,Actividad Alta,30,1980-1989,7
21,Andrei Chikatilo,Soviet Union,53,56,1978,1990,12,Masculino,1936,1994,Capturado,Actividad Alta,42,1970-1979,4
60,Daniel Camargo Barbosa,Colombia\r\nEcuador\r\nBrazil (alleged),72,180,1974,1986,12,Masculino,1930,1994,Capturado,Actividad Alta,44,1970-1979,6
101,Giuseppe Greco,Italy,58,300,1981,1983,2,Masculino,1952,1985,No capturado,Actividad Alta,29,1980-1989,29
118,Javed Iqbal,Pakistan,100,100,1998,1999,1,Masculino,1956,2001,Capturado,Actividad Alta,42,1990-1999,100
142,Kampatimar Shankariya,India,70,70,1977,1978,1,Masculino,1952,1979,Capturado,Actividad Alta,25,1970-1979,70
159,Luis Garavito,Colombia\r\nEcuador\r\nVenezuela,138,300,1992,1999,7,Masculino,1957,0,Capturado,Actividad Alta,35,1990-1999,20
176,Mikhail Popkov,Russia,83,83,1992,2010,18,Masculino,1964,0,Capturado,Actividad Alta,28,1990-1999,5
199,Pedro Lopez,Colombia\r\nPeru\r\nEcuador,110,300,1969,1979,10,Masculino,1948,0,No capturado,Actividad Alta,21,1960-1969,11
202,Pedro Rodrigues Filho,Brazil,71,100,1967,2003,36,Masculino,1954,0,Capturado,Actividad Alta,13,1960-1969,2
236,Samuel Little,United States,60,93,1970,2005,35,Masculino,1940,2020,Capturado,Actividad Alta,30,1970-1979,2
292,Yang Xinhai,China,67,67,2000,2003,3,Masculino,1968,2004,Capturado,Actividad Alta,32,2000-2009,22

In [215]:
df_serial_killers_final['Country'].unique()

array(['Yemen', 'Russia', 'Afghanistan', 'Turkey', 'Germany',
       'Costa Rica', 'Indonesia', 'United States', 'Soviet Union',
       'Belarus', 'Ottoman Empire\r\n Iraq\r\n Iran', 'Pakistan',
       'Soviet Union\r\nUkraine', 'Belgium', 'United States\r\nMexico',
       'Latvia', 'South Africa', 'China', 'Austria-Hungary',
       'Allied-occupied Germany\r\nWest Germany', 'United Kingdom',
       'Canada', 'United States\r\n Portuguese Angola',
       'Thailand\r\nNepal\r\nIndia\r\nMalaysia', 'Japan', 'Colombia',
       'Denmark', 'Colombia\r\nEcuador\r\nBrazil (alleged)', 'India',
       'Swaziland', 'Italy', 'Venezuela', 'United States\r\nCanada',
       'Spain', 'Australia', 'Bangladesh', 'Mexico', 'Argentina',
       'Brazil', 'France', 'Morocco', 'Czechoslovakia',
       'Austria\r\nUnited States\r\nCzechoslovakia', 'South Korea',
       'West Germany', 'Ecuador', 'Chile', 'Netherlands',
       'Colombia\r\nEcuador\r\nVenezuela', 'Iran',
       'Spain\r\nFrance (claimed)\r\nItaly (claimed)', 'Greece',
       'Austria', 'Canada\r\nUnited States', 'France\r\nBelgium',
       'Switzerland\r\nFrance\r\nUnited States\r\nYugoslavia (suspected)\r\nItaly (suspected)',
       'Soviet Union\r\nRussia\r\nTajikistan', 'Tunisia',
       'Soviet Union\r\nRussia', 'Cyprus',
       'Soviet Union\r\nRussia\r\nUkraine', 'Colombia\r\nPeru\r\nEcuador',
       'Peru', 'German Empire\r\nGermany', 'Egypt',
       'United Kingdom\r\nIreland (suspected)\r\nWest Germany (suspected)\r\nNetherlands (suspected)\r\nFrance (suspected)',
       'Ukraine', 'Singapore', 'Romania',
       'Kingdom of Romania\r\nYugoslavia\r\nHungary (alleged)',
       'East Germany\r\nGermany\r\nFrance\r\nSpain\r\nCzech Republic (suspected)\r\nItaly (suspected)',
       'Poland', 'China\r\nJapan',
       'France\r\nGermany (suspected)\r\nSwitzerland (suspected)'],
      dtype=object)

In [217]:
def clean_country(value):
    # Manejar múltiple países separados por "\r\n"
    if "\r\n" in value:
        return value.split("\r\n")[0].strip()  # Tomar solo el primer país
    
    # Manejar otros casos específicos si es necesario
    replacements = {
        "Soviet Union\r\nUkraine": "Ukraine",
        "Ottoman Empire\r\n Iraq\r\n Iran": "Ottoman Empire",
        "United States\r\nMexico": "United States",
        "Colombia\r\nEcuador\r\nBrazil (alleged)": "Colombia",
        "United Kingdom\r\nIreland (suspected)\r\nWest Germany (suspected)\r\nNetherlands (suspected)\r\nFrance (suspected)": "United Kingdom",
        # Añadir más reemplazos específicos si es necesario
    }
    return replacements.get(value, value.strip())  # Usar el reemplazo o devolver el valor original limpio

In [220]:
# Aplicar la limpieza a la columna "Country"
df_serial_killers_final["Country"] = df_serial_killers_final["Country"].apply(clean_country)

# Verificar los resultados únicos
df_serial_killers_final["Country"].unique()

array(['Yemen', 'Russia', 'Afghanistan', 'Turkey', 'Germany',
       'Costa Rica', 'Indonesia', 'United States', 'Soviet Union',
       'Belarus', 'Ottoman Empire', 'Pakistan', 'Belgium', 'Latvia',
       'South Africa', 'China', 'Austria-Hungary',
       'Allied-occupied Germany', 'United Kingdom', 'Canada', 'Thailand',
       'Japan', 'Colombia', 'Denmark', 'India', 'Swaziland', 'Italy',
       'Venezuela', 'Spain', 'Australia', 'Bangladesh', 'Mexico',
       'Argentina', 'Brazil', 'France', 'Morocco', 'Czechoslovakia',
       'Austria', 'South Korea', 'West Germany', 'Ecuador', 'Chile',
       'Netherlands', 'Iran', 'Greece', 'Switzerland', 'Tunisia',
       'Cyprus', 'Peru', 'German Empire', 'Egypt', 'Ukraine', 'Singapore',
       'Romania', 'Kingdom of Romania', 'East Germany', 'Poland'],
      dtype=object)

In [221]:
def simplify_country(value):
    replacements = {
        "Soviet Union": "Russia",
        "Allied-occupied Germany": "Germany",
        "West Germany": "Germany",
        "East Germany": "Germany",
        "Ottoman Empire": "Turkey",
        "Kingdom of Romania": "Romania",
        "German Empire": "Germany"
    }
    return replacements.get(value, value)  # Usar el reemplazo o devolver el valor original

In [223]:
df_serial_killers_final["Country"] = df_serial_killers_final["Country"].apply(simplify_country)

# Verificar los valores únicos nuevamente
df_serial_killers_final["Country"].unique()

array(['Yemen', 'Russia', 'Afghanistan', 'Turkey', 'Germany',
       'Costa Rica', 'Indonesia', 'United States', 'Belarus', 'Pakistan',
       'Belgium', 'Latvia', 'South Africa', 'China', 'Austria-Hungary',
       'United Kingdom', 'Canada', 'Thailand', 'Japan', 'Colombia',
       'Denmark', 'India', 'Swaziland', 'Italy', 'Venezuela', 'Spain',
       'Australia', 'Bangladesh', 'Mexico', 'Argentina', 'Brazil',
       'France', 'Morocco', 'Czechoslovakia', 'Austria', 'South Korea',
       'Ecuador', 'Chile', 'Netherlands', 'Iran', 'Greece', 'Switzerland',
       'Tunisia', 'Cyprus', 'Peru', 'Egypt', 'Ukraine', 'Singapore',
       'Romania', 'Poland'], dtype=object)

In [224]:
def split_historic_countries(value):
    historic_to_modern = {
        "Austria-Hungary": ["Austria", "Hungary"],
        "Czechoslovakia": ["Czech Republic", "Slovakia"]
    }
    return historic_to_modern.get(value, [value])  # Devuelve lista de países modernos o valor original

In [225]:
# Filtrar filas que contienen 'Austria-Hungary' o 'Czechoslovakia'
historic_countries = df_serial_killers_final[df_serial_killers_final['Country'].isin(['Austria-Hungary', 'Czechoslovakia'])]

# Mostrar el resultado
historic_countries

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime,Era Active,Victims per Year
32,Bela Kiss,Austria-Hungary,24,24,1912,1916,4,Masculino,1877,1932,No capturado,Actividad moderada,35,1910-1919,6
110,Hubert Pilcik,Czechoslovakia,5,10,1948,1951,3,Masculino,1891,1951,Capturado,Actividad Baja,57,1940-1949,2

In [227]:
# Cambiar "Country" para Bela Kiss a "Hungary"
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Bela Kiss', 'Country'] = 'Hungary'

# Cambiar "Country" para Hubert Pilcik a "Czech Republic"
df_serial_killers_final.loc[df_serial_killers_final['Name'] == 'Hubert Pilcik', 'Country'] = 'Czech Republic'

# Verificar los cambios
df_serial_killers_final[df_serial_killers_final['Name'].isin(['Bela Kiss', 'Hubert Pilcik'])]

,Name,Country,Proven victims,Possible victims,Start year,End year,Active years,Gender,Year_of_Birth,Year_of_Death,Status,Victim Range,Age at First Crime,Era Active,Victims per Year
32,Bela Kiss,Hungary,24,24,1912,1916,4,Masculino,1877,1932,No capturado,Actividad moderada,35,1910-1919,6
110,Hubert Pilcik,Czech Republic,5,10,1948,1951,3,Masculino,1891,1951,Capturado,Actividad Baja,57,1940-1949,2

In [228]:
df_serial_killers_final['Country'].unique()

array(['Yemen', 'Russia', 'Afghanistan', 'Turkey', 'Germany',
       'Costa Rica', 'Indonesia', 'United States', 'Belarus', 'Pakistan',
       'Belgium', 'Latvia', 'South Africa', 'China', 'Hungary',
       'United Kingdom', 'Canada', 'Thailand', 'Japan', 'Colombia',
       'Denmark', 'India', 'Swaziland', 'Italy', 'Venezuela', 'Spain',
       'Australia', 'Bangladesh', 'Mexico', 'Argentina', 'Brazil',
       'France', 'Morocco', 'Czech Republic', 'Austria', 'South Korea',
       'Ecuador', 'Chile', 'Netherlands', 'Iran', 'Greece', 'Switzerland',
       'Tunisia', 'Cyprus', 'Peru', 'Egypt', 'Ukraine', 'Singapore',
       'Romania', 'Poland'], dtype=object)

In [231]:
df_serial_killers_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                305 non-null    object
 1   Country             305 non-null    object
 2   Proven victims      305 non-null    int64
 3   Possible victims    305 non-null    int64
 4   Start year          305 non-null    int64
 5   End year            305 non-null    int64
 6   Active years        305 non-null    int64
 7   Gender              305 non-null    object
 8   Year_of_Birth       305 non-null    int64
 9   Year_of_Death       305 non-null    int64
 10  Status              305 non-null    object
 11  Victim Range        305 non-null    object
 12  Age at First Crime  305 non-null    int64
 13  Era Active          305 non-null    object
 14  Victims per Year    305 non-null    int64
dtypes: int64(9), object(6)
memory usage: 35.9+ KB

In [230]:
## Pasar a csv
df_serial_killers_final.to_csv('Serial_Killers.csv')