In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [3]:
# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
#from scipy.stats import shapiro, kstest, poisson, chisquare, ttest_ind, levene, bartlett, sem, ppf
import scipy.stats as stats
from scipy.stats import shapiro, levene
from scipy.stats import ttest_ind
from scipy.stats import mannwhitneyu
from scipy.stats import chi2_contingency

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [4]:
# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
def exploracion(df):
    """
    Realiza una exploración inicial y descriptiva de un DataFrame para identificar información relevante
    sobre los datos, como valores nulos, duplicados, tipos de datos, y estadísticas generales.
    La función también imprime un resumen de las columnas categóricas y numéricas del DataFrame.
    Parámetros:
    -----------
    dataframe (DataFrame): El DataFrame que contiene los datos.
    Descripción:
    ------------
    La función realiza los siguientes análisis y genera la siguiente información:
    - El número de filas y columnas del DataFrame.
    - La cantidad de datos duplicados y su porcentaje en relación al total.
    - La cantidad de columnas con valores nulos y las columnas sin valores nulos.
    - El tipo de dato de cada columna.
    - El número de valores únicos por columna.
    Además, la función imprime estadísticas descriptivas de las columnas categóricas (si las hay) y
    numéricas (si las hay) del DataFrame."""
    df_info = pd.DataFrame()
    df_info["% nulos"] = round(df.isna().sum() / df.shape[0] * 100, 2).astype(str) + "%"
    df_info["% no_nulos"] = (
        round(df.notna().sum() / df.shape[0] * 100, 2).astype(str) + "%"
    )
    df_info["tipo_dato"] = df.dtypes
    df_info["num_valores_unicos"] = (
        df.nunique()
    )  # devuelve el número de valores únicos en la columna.
    print(f"""El DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas.
Tiene {df.duplicated().sum()} datos duplicados, lo que supone un porcentaje de {round(df.duplicated().sum()/df.shape[0]*100, 2)}% de los datos.
Hay {len(list(df_info[(df_info["% nulos"] != "0.0%")].index))} columnas con datos nulos, y son:
{list(df_info[(df_info["% nulos"] != "0.0%")].index)}
y sin nulos hay {len(list(df_info[(df_info["% nulos"] == "0.0%")].index))} columnas y son:
{list(df_info[(df_info["% nulos"] == "0.0%")].index)}
A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:""")
    print("Principales estadísticos de las columnas categóricas:")
    if (
        df.select_dtypes(include="object").shape[1] > 0
    ):  # Verificar si hay columnas categóricas
        display(df.describe(include="O").T)
    else:
        print("No hay columnas categóricas en el DataFrame.")
    print("Principales estadísticos de las columnas numéricas:")
    if (
        df.select_dtypes(exclude="object").shape[1] > 0
    ):  # Verificar si hay columnas numéricas
        display(df.describe(exclude="O").T)
    else:
        print("No hay columnas numéricas en el DataFrame.")
    return df_info

In [ ]:
## https://www.kaggle.com/datasets/dante890b/wikipedia-serial-killers-list?select=serial_killers_by_victims.csv :

In [8]:
df_victimas = pd.read_csv('serial_killers_by_victims.csv')
df_victimas.head(3)

,Name,Country,Start year,End year,Proven victims,Possible victims,Notes
0,Luis Garavito,"Colombia, Ecuador, Venezuela",1992.0,1999.0,193.0,247.0,"Child-murderer, torture-killer, and rapist kno..."
1,Pedro López,"Colombia, Peru, Ecuador",1969.0,1980.0,110.0,300.0,"Child-murderer and rapist, known as ""The Monst..."
2,Javed Iqbal,Pakistan,1998.0,1999.0,100.0,100.0,"Child-murderer and rapist, known as ""Kukri"", I..."

In [11]:
df_victimas.columns

Index(['Name', 'Country', 'Start year', 'End year', 'Proven victims',
       'Possible victims', 'Notes'],
      dtype='object')

In [13]:
exploracion(df_victimas)

El DataFrame tiene 757 filas y 7 columnas.
Tiene 0 datos duplicados, lo que supone un porcentaje de 0.0% de los datos.

Hay 2 columnas con datos nulos, y son:
['Start year', 'Notes']

y sin nulos hay 5 columnas y son:
['Name', 'Country', 'End year', 'Proven victims', 'Possible victims']


A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:

               % nulos % no_nulos tipo_dato  num_valores_unicos
Name              0.0%     100.0%    object                 757
Country           0.0%     100.0%    object                 113
Start year       2.51%     97.49%   float64                 120
End year          0.0%     100.0%   float64                 115
Proven victims    0.0%     100.0%   float64                  67

Principales estadísticos de las columnas categóricas:

        count unique                                                top freq
Name      757    757                                      Luis Garavito    1
Country   757    113                                      United States  275
Notes     754    754  Child-murderer, torture-killer, and rapist kno...    1

Principales estadísticos de las columnas numéricas:

,count,mean,std,min,25%,50%,75%,max
Start year,738.0,1978.682927,25.774773,1871.0,1970.0,1984.0,1996.0,2023.0
End year,757.0,1941.579921,293.529192,9.0,1976.0,1992.0,2003.0,2032.0
Proven victims,757.0,13.675033,36.668291,1.0,4.0,7.0,13.0,810.0
Possible victims,757.0,24.762219,57.756596,2.0,5.0,11.0,20.0,1000.0

                 % nulos % no_nulos tipo_dato  num_valores_unicos
Name                0.0%     100.0%    object                 757
Country             0.0%     100.0%    object                 113
Start year         2.51%     97.49%   float64                 120
End year            0.0%     100.0%   float64                 115
Proven victims      0.0%     100.0%   float64                  67
Possible victims    0.0%     100.0%   float64                  91
Notes               0.4%      99.6%    object                 754

In [39]:
df_victimas['Proven victims'].unique()

array([193., 110., 100.,  83.,  72.,  71.,  70.,  67.,  65.,  60.,  57.,
        54.,  53.,  52.,  50.,  49.,  45.,  42.,  41.,  38.,  37.,  36.,
        35.,  33.,  32.,  31.,  30.,  28.,  27.,  26.,  25.,  24.,  23.,
        22.,  21.,  20.,  19.,  18.,  17.,  16.,  15.,  14.,  13.,  12.,
        11.,  10.,   9.,   8.,   7.,   6.,   5.,   4.,   3.,   2.,   1.,
       218.,  85.,  48.,  43.,  29., 400., 114.,  91.,  77.,  62.,  40.,
       810.])

In [29]:
df_victimas['Possible victims'].unique()

array([ 247.,  300.,  100.,   86.,  180.,   70.,   67.,   93.,   57.,
         54.,   56.,   52.,   50.,   80.,   60.,   42.,   41.,   76.,
         49.,   36.,   35.,  137.,   39.,   33.,   32.,   31.,   38.,
         30.,   45.,   28.,  177.,   26.,   25.,   27.,   24.,  150.,
         23.,   88.,   22.,   43.,   21.,   20.,   19.,   44.,   40.,
         18.,   92.,   17.,   16.,   15.,   29.,   14.,   46.,   13.,
         12.,   11.,   10.,   79.,   34.,    9.,  160.,  130.,  112.,
          8.,   48.,    7.,    6.,   37.,    5.,   82.,    4.,  175.,
          3.,   90.,    2.,  250.,  200.,   72.,  400.,   63.,  259.,
         84.,   47.,  131., 1000.,  114.,   91.,   62.,   73.,  124.,
        620.])

In [ ]:
## https://www.kaggle.com/datasets/vesuvius13/serial-killers-dataset?select=5_to_14_victim_count.csv:

In [43]:
df_1 = pd.read_csv('1.csv')

In [44]:
df_2 = pd.read_csv('2.csv')

In [45]:
df_3 = pd.read_csv('3.csv')

In [46]:
df_4 = pd.read_csv('4.csv')

In [53]:
df_unido = pd.concat([df_1, df_2,df_3,df_4],axis=0)
df_unido

,Name,Country,Years active,Proven victims,Possible victims,Notes
0,Carl Eugene Watts,United States,1974 to 1982,14,80+,Believed to have killed over 80 women in multi...
1,Philipp Tyurin,Soviet Union,1945 to 1946,14,29,"Known as the ""Leningrad Maniac"" and the ""Hellr..."
2,Zdzisław Marchwicki,Poland,1964 to 1970,14,21+,Also known as Vampire of Zagłębie. Killed 14 w...
3,Monster of Florence,Italy,1968 to 1985,14,16,Unidentified killer who shot couples in lovers...
4,Joachim Kroll,West Germany,1955 to 1976,14,NaN,"Known as the ""Ruhr Cannibal"" and ""The Duisburg..."
...,...,...,...,...,...,...
24,Leonarda Cianciulli,Italy,1939 to 1940,3,-,"Murdered three women in the town of Correggio,..."
25,Özkan Zengin,Turkey,2008,3,4,Slit the throats of three confirmed victims be...
26,Albert Fish,United States,1924 to 1932,3,9-100+,American serial killer and child rapist who co...
27,Heriberto Seda,United States,1990 to 1996,3,8+,Considered to be a copycat of the Zodiac Kille...
28,John Martin,United Kingdom,1995,3,3+,"(Birth name John Martin Scripps, alias Simon J..."

In [54]:
df_unido.shape

(305, 6)

In [ ]:
## Comparamos los dos:

In [55]:
exploracion(df_victimas)

El DataFrame tiene 757 filas y 7 columnas.
Tiene 0 datos duplicados, lo que supone un porcentaje de 0.0% de los datos.
Hay 2 columnas con datos nulos, y son:
['Start year', 'Notes']
y sin nulos hay 5 columnas y son:
['Name', 'Country', 'End year', 'Proven victims', 'Possible victims']
A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:
Principales estadísticos de las columnas categóricas:

        count unique                                                top freq
Name      757    757                                      Luis Garavito    1
Country   757    113                                      United States  275
Notes     754    754  Child-murderer, torture-killer, and rapist kno...    1

Principales estadísticos de las columnas numéricas:

,count,mean,std,min,25%,50%,75%,max
Start year,738.0,1978.682927,25.774773,1871.0,1970.0,1984.0,1996.0,2023.0
End year,757.0,1941.579921,293.529192,9.0,1976.0,1992.0,2003.0,2032.0
Proven victims,757.0,13.675033,36.668291,1.0,4.0,7.0,13.0,810.0
Possible victims,757.0,24.762219,57.756596,2.0,5.0,11.0,20.0,1000.0

                 % nulos % no_nulos tipo_dato  num_valores_unicos
Name                0.0%     100.0%    object                 757
Country             0.0%     100.0%    object                 113
Start year         2.51%     97.49%   float64                 120
End year            0.0%     100.0%   float64                 115
Proven victims      0.0%     100.0%   float64                  67
Possible victims    0.0%     100.0%   float64                  91
Notes               0.4%      99.6%    object                 754

In [68]:
df_victimas['Name'].unique()

array(['Luis Garavito', 'Pedro López', 'Javed Iqbal', 'Mikhail Popkov',
       'Daniel Camargo Barbosa', 'Pedro Rodrigues Filho',
       'Kampatimar Shankariya', 'Hoshang Amini', 'Yang Xinhai',
       'Abul Djabar', 'Samuel Little', 'William Unek', 'Mohammed Bijeh',
       'Andrei Chikatilo', 'Anatoly Onoprienko',
       'Florisvaldo de Oliveira', 'Gary Ridgway', 'Alexander Pichushkin',
       'Wang Qiang', 'Ahmad Suradji', 'Raman Raghav', 'Moses Sithole',
       'Serhiy Tkach', 'Gennady Mikhasevich', 'Hadj Mohammed Mesfewi',
       'Vera Renczi', 'Fernando Hernández Leyva', 'John Wayne Gacy',
       'Ali Asghar Borujerdi', 'Vasili Komaroff',
       'Ramadan Abdel Rehim Mansour', 'Radik Tagirov', 'Karl Denke',
       'Francisco das Chagas Rodrigues de Brito',
       'Monster of the Mangones', 'Milton Sipalo',
       'Luis Gregorio Ramírez Maestre', 'David Thabo Simelane',
       'Zhang Jun', 'Mariam Soulakiotis', 'Cedric Maake',
       'Robert Pickton', 'Bruce George Peter Lee', 'The Stoneman',
       'Juan Corona', 'Fritz Haarmann', 'Béla Kiss',
       'Majid Salek Mohammadi', 'Yvan Keller', 'Ronald Dominique',
       'Juan Fernando Hermosa', 'Gerald Stano', 'Earle Nelson',
       'Mikhail Novosyolov', 'Manuel Octavio Bermúdez', 'Patrick Kearney',
       'William Bonin', 'Vasile Tcaciuc', 'Yoo Young-chul',
       'Francisco Guerrero Pérez', 'Ted Bundy', 'Abdullah Shah',
       'Mohan Kumar', 'Bulelani Mabhayi', 'Larry Eyler',
       'Cape Town Prostitute Killer', '"El Psicópata"',
       'Sergei Ryakhovsky', 'Yevgeny Chuplinsky', 'M. Jaishankar',
       'Ansis Kaupēns', 'Vadim Ershov', 'Velaphi Ndlangamandla',
       'Valery Kopytov', 'Randall Woodfield', 'Yavuz Yapıcıoğlu',
       'Paul John Knowles', 'Thierry Paulin', 'Richard Nyauza',
       'Umesh Reddy', 'Christopher Mhlengwa Zikode',
       'Kotakethana murders', 'Asande Baninzi', 'Vladimir Mirgorod',
       'Richard Cottingham', 'Huang Yong', 'Pedro Pablo Nakada Ludeña',
       'Darbara Singh', 'Robert Hansen', 'Sergei Dovzhenko',
       'Donato Bilancia', 'Irina Gaidamachuk', 'Chen Fuzhao',
       'Randy Steven Kraft', 'Juana Barraza', 'Michel Fourniret',
       'Sipho Agmatir Thwala', 'Saeed Hanaei', 'Maina Ramulu',
       'Jeffrey Dahmer', 'José Antonio Rodríguez Vega', 'Carroll Cole',
       'Elias Xitavhudzi', 'Charles Ray Hatcher', 'Yuri Ivanov',
       'Robert Lee Yates', 'Farid Baghlani', 'Jimmy Maketta',
       'Jack Mogale', 'Donald Henry Gaskins', 'Ravinder Kumar',
       'Atlanta Ripper', 'Ángel Maturino Reséndiz', 'Chester Turner',
       'Alexander Labutkin', 'Florencio Fernández', 'Elifasi Msomi',
       'Abdullah Aksoy', 'Maurizio Minghella', 'Bai Baoshan',
       'Lee Choon-jae', 'Carl Eugene Watts', 'Belle Gunness',
       'Philipp Tyurin', 'Zdzisław Marchwicki', 'Julio Pérez Silva',
       'Monster of Florence', 'Joachim Kroll', 'Arthur Shawcross',
       'Naceur Damergi', 'Muthukutty Chandran',
       'Marcelo Costa de Andrade', 'Sergey Shipilov', 'Dorángel Vargas',
       'Hua Ruizhuo', 'Denis Pischikov', 'Abdufatto Zamanov',
       'Jeong Nam-gyu', 'Amir Qayyum', 'Denis Kazungu', 'Jake Bird',
       'Cleveland Torso Murderer', 'Kaspars Petrovs', 'Peter Sutcliffe',
       'Fosaville Serial Killer', 'William Suff', 'Richard Ramirez',
       'Sleepy Hollow Killer', 'Francisco Antonio Laureana',
       'Joseph James DeAngelo', 'Tamara Samsonova', 'Boston Strangler',
       'Herbert Mullin', 'Vladimir Storozhenko', 'Johannes Mashiane',
       'Vasiliy Kulik', 'Nikolai Dudin', 'Mukosi Freddy Mulaudzi',
       'Duan Guocheng', 'Nikolay Shubin', 'Thozamile Taki',
       '"Rainbow Maniac"', 'Li Wenxiang', 'Adolf Seefeldt',
       'José Manuel Martínez', 'Charles Sobhraj', 'Slamet Tohari',
       'Vladimir Romanov', 'Maury Travis', 'Dennis Nilsen',
       'Kenneth Bianchi', 'Enriqueta Martí', 'Abdallah al-Hubal',
       'Nikolai Shestakov', 'Joseph Christopher',
       '"Paraquat murders" killer', 'Siswanto', 'Sergey Golovkin',
       'Tiago Henrique Gomes da Rocha', 'Herb Baumeister',
       'Zhang Yongming', 'Jack Unterweger', 'Vaughn Greenwood',
       'Anthony Sowell', 'Henri Désiré Landru', 'Nannie Doss',
       'Marie Alexandrine Becker', 'Seisaku Nakamura', 'Robledo Puch',
       'Clifford Olson', 'Francisco García Escalero',
       'Henry Louis Wallace', 'Benjamin Atkins', 'Adnan Çolak',
       'Andre Crawford', 'Francisco de Assis Pereira', 'Barnaul Maniac',
       'Gao Chengyong', 'Yevgeny Petrov', 'Ruslan Khamarov',
       'West Mesa Killer', 'Very Idham Henyansyah', 'Roshu Kha',
       'Martin Lecián', 'Lonnie David Franklin Jr.', 'Rudolf Pleil',
       'Milton Johnson', 'Long Island serial killer',
       'Daniel Lee Siebert', 'Sergey Cherny', 'Jeanne Weber',
       'Nikolai Dzhumagaliev', 'Bobby Joe Long', 'Stewart Wilken',
       'Viktor Fokin', 'David Randitsheni', 'Edmund Kemper',
       'Dennis Rader', 'Stanislav Rogolev', 'Oleg Kuznetsov', 'Satish',
       'Eduard Shemyakov', 'Ali Kaya', 'Chen Yongfeng', 'Zhou Kehua',
       'Kang Ho-sun', 'Masten Wanjala', 'Louis van Schoor',
       'Peter Kürten', 'Roger Dale Stafford', 'Norman Afzal Simons',
       'Francis Heaulme', 'Joel Rifkin', 'Dagmar Overbye',
       'Kenneth McDuff', 'Robert Joseph Silveria Jr.', 'Dr. No',
       'Richard Biegenwald', 'New Bedford Highway Killer',
       'Alexander Bychkov', 'Maryvale serial shooter',
       'Edgecombe County Serial Killer', 'Sergei Martynov', 'Lloyd Gomez',
       'Timothy Krajcir', 'Anatoly Utkin', 'Gilberto Chamba',
       'Ondrej Rigo', 'Alfred Gaynor', 'Mark Goudeau',
       'Keith Hunter Jesperson', 'Rodney Alcala', 'Ottis Toole',
       'Kiyotaka Katsuta', 'Joseph Paul Franklin', 'Pierre Chanal',
       'Christopher Wilder', 'Axeman of New Orleans', 'Vladimir Retunsky',
       'Gilbert Paul Jordan', 'Frankford Slasher', 'Kendall Francois',
       'Hilda Nilsson', 'Yoshio Kodaira', 'John Christie',
       'Eric Edgar Cooke', 'Forest City Killer', 'John Edward Robinson',
       'Bruce McArthur', 'Paul Ogorzow', 'Genzo Kurita', 'Marie Noe',
       'Kiyoshi Okubo', 'Marybeth Tinning', 'Michael Bruce Ross',
       'Gary C. Evans', 'Colonial Parkway Killer', 'Sean Vincent Gillis',
       'Vladimir Mukhankin', 'Manuel Delgado Villegas', 'Ershad Sikder',
       'Diego Alexánder Ruiz Restrepo', 'Ivan Milat', 'Reta Mays',
       'Stockton serial shootings', 'Michael Wayne McGray',
       'Łódź Gay Murderer', 'John Floyd Thomas Jr.', 'Kenneth Erskine',
       'David Carpenter', 'Vladimir Kuzmin', 'Tommy Recco',
       'Derrick Todd Lee', 'Tomás Maldonado Cera', 'Peter Manuel',
       'Terry Blair', 'Doug Clark', 'Stanisław Modzelewski',
       'Michael Hughes', 'Santa Rosa Hitchhiker Killer', 'Roger Kibbe',
       'Connecticut River Valley Killer', 'Paul Durousseau',
       'Todd Kohlhepp', 'Darren Deon Vann', 'Aileen Wuornos',
       'Hu Daoping', 'Nikos Metaxas', 'José Misael Roldán Concha',
       'Sataro Fukiage', 'Joseph Taborsky', 'Václav Mrázek',
       'Anatoly Slivko', 'Cincinnati Strangler', 'Émile Louis',
       'Paul Steven Haigh', 'Aleksey Sukletin', 'Roberto Succo',
       'Walter E. Ellis', 'Harrison Graham', 'Guy Georges', 'Motta Navas',
       'Paul Dennis Reid', 'Samuel Sidyno', 'Ripper Jayanandan',
       'Sibusiso Duma', 'Tommy Lynn Sells', 'Volker Eckert',
       'Lorenzo Gilyard', 'Władysław Mazurkiewicz', 'Gong Runbo',
       'The Doodler', 'Cristopher Chávez Cuellar', 'András Pándy',
       'John Wayne Glover', 'Alexander Sergeychik',
       'Adrián Arroyo Gutiérrez', 'Joseph Naso', 'John George Haigh',
       'Jack the Stripper', 'Morris Solomon Jr.', 'Mack Ray Edwards',
       'Terry Peder Rasmussen', 'Robert Berdella', 'Juan Chavez',
       'David Berkowitz', 'Richard Chase', 'Michael Terry',
       'Lázaro Barbosa de Sousa', 'Alfredo Galán', 'Friedrich Schumann',
       'Eugen Weidmann', 'Rhonda Belle Martin', 'Leslie Irvin',
       'Lemuel Smith', 'Freeway Phantom', 'David Mason',
       'Dayton Leroy Rogers', 'Norbert Poehlke', 'Wolfgang Schmidt',
       'Cleophus Prince Jr.', 'Nathaniel White', 'Samuel Bongani Mfeka',
       'Gary Ray Bowles', 'Rory Enrique Conde', 'Nicholas Lungisa Ncama',
       'Aleksandr Rubel', 'Celine Lesage', 'Filiberto Hernández Martínez',
       'Zodiac Killer', 'Carl Panzram', 'Steve Wright',
       'Stephen Akinmurele', 'Joe Metheny', 'Michel Peiry',
       'Hubert Pilčík', 'Melvin Rees', 'David Maust',
       'William Patrick Fyfe', 'Willem van Eijk', 'Danny Rolling',
       'Allan Joseph Legere', 'Joseph E. Duncan III', 'Vincent Johnson',
       'Vinko Pintarić', 'Edward Edwards', 'Thomas Dillon',
       'Marc Dutroux', 'William Dathan Holbert', 'Sek Kim Wah',
       'Jerome Dennis', 'Belize Ripper', 'Elroy Chester',
       'Elisabeth Wiese', 'Phantom Killer', 'San Mateo slasher',
       'Honolulu Strangler', 'Anthony Kirkland', 'William MacDonald',
       'Harry Powers', 'Anna Marie Hahn', 'Robert Nixon', 'Waneta Hoyt',
       'Janie Lou Gibbs', 'South Dade Killer', 'Gerald Parker',
       'Phillip Carl Jablonski', 'Arthur Gary Bishop', 'Faryion Wardrip',
       'Timothy Wilson Spencer', 'Robert Shulman', 'Elias Abuelazam',
       'Joachim Knychała', 'Archibald Hall', 'Colin Ireland',
       'Claude Lastennet', 'Metod Trobec', 'Romulus Vereş',
       'Akira Nishiguchi', 'Boris Gusakov', 'Anatoly Biryukov',
       'Süleyman Aktaş', 'B1 Butcher', 'Alexander Spesivtsev',
       'Charlie Brandt', 'Scott Lee Kimball', 'Robert Black',
       'Max Gufler', 'Ernesto Picchioni', 'Baekuni', 'Igor Chernat',
       'Ricky Lee Green', 'Robert Hicks Murray',
       'William Dean Christensen', 'Angus Sinclair', 'John Cooper',
       'Cary Stayner', 'Tony Costa', 'Carlton Gary',
       'Oakland County Child Killer', 'Robert Rozier', 'Leonard Fraser',
       'Christopher Peterson', 'Ricardo Caputo', 'Anthony Allen Shore',
       'Daytona Beach killer', 'Jozef Slovák', 'Monster of Udine',
       'John Martin Crawford', 'Oba Chandler', 'Dallen Bounds',
       'Wayne Adam Ford', 'Heinrich Pommerenke', 'Robert Mone',
       'Jerry Brudos', 'Robert Maudsley', 'Aalt Mondria',
       'Tsutomu Miyazaki', 'Cody Legebokoff', 'Stephen Port',
       'Howell Donaldson III', 'Arnold Sodeman', 'Craig Price',
       'Fritz Honka', 'Cayetano Santos Godino', 'Eastbound Strangler',
       'Caroline Grills', 'Gordon Cummins', 'Marc Sappington',
       'Peter Woodcock', 'Léopold Dion', 'John Ingvar Lövgren',
       'Lam Kor-wan', 'Jürgen Bartsch', 'Wayne Boden', 'Ion Rîmaru',
       'David Meirhofer', 'Donald Neilson', 'Thor Nis Christiansen',
       'Michael Lupo', 'Peter Lundin', 'James Swann', 'Steven Grieveson',
       'Frank Gust', 'Alexander Tchayka', 'Peter Moore', 'Hiroaki Hidaka',
       'Nicolai Bonner', 'Raúl Osiel Marroquín', 'Dale Cregan',
       'Richard Kuklinski', 'Harvey Miguel Robinson', 'Albert Fish',
       'Robert Ben Rhoades', 'Peter Tobin', 'Pedro Padilla Flores',
       'Stephen Morin', 'Dorothea Puente', 'Billy Glaze', 'Sidney Cooke',
       'Bertha Gifford', 'Bernhard Prigan', 'Ronald Janssen',
       'Patrick Mackay[a]', 'Koos Hertogs', 'Michael Gargiulo',
       'Chisako Kakehi', 'Heriberto Seda', 'Anthony Hardy',
       'Michael Lee Lockhart', 'Peter Dupas', 'Stephen Griffiths',
       'Levi Bellfield', 'Hans van Zon', 'Judy Buenoano', 'Martin Ney',
       'Paul Denyer', 'Bandali Debs', 'Gordon Northcott',
       'Peter Kudzinowski', 'Harvey Glatman', 'Martha Ann Johnson',
       'Vlado Taneski', 'Özkan Zengin', 'Khalil Wheeler-Weaver',
       'William Henry Hance', '"Charlie Chop-off"', 'François Vérove',
       'Louise Peete', 'Westley Allan Dodd', 'Scott Erskine',
       'Donald Leroy Evans', 'John Martin', 'Richard Evonitz',
       'Harvey Carignan', 'John Joubert', 'Akku Yadav', 'Michael Madison',
       '"Bible John"', 'Andrew Dawson', 'Leonarda Cianciulli',
       'Sharon Kinne', 'Ted Kaczynski', 'Leon Dorsey', 'Ronald Jebson',
       'Charles Albanese', 'George Chapman', 'Martha Rendell',
       'George Joseph Smith', 'Daisy de Melker', 'Eddie Leonski',
       'William Heirens', 'John Straffen', 'Richard Laurence Marquette',
       'Graham Young', 'Charles Schmid', 'Lee Roy Martin',
       'Erwin Hagedorn', 'Karl F. Warner', 'Howard Arthur Allen',
       'Trevor Hardy', 'Steven David Catlin', 'Paul Michael Stephani',
       'Dámaso Rodríguez Martín', 'Altemio Sanchez', 'Gregory Brazel',
       'Brian Dugan', 'Valery Asratyan', 'Francisca Ballesteros',
       'Silvo Plut', 'Gabriel Garza Hoth', 'Robert Napper',
       'Antonis Daglis', 'Gustavo Romero Tercero', 'Peter Bryan',
       'Lam Kwok-wai', 'Dana Sue Gray', 'Robin Ligus',
       'Jack Owen Spillman', 'Scott Williams', 'Juan Covington',
       'Matthew James Harris', 'Yukio Yamaji', 'Hiroshi Maeue',
       'António Luís Costa', 'Özgür Dengiz', 'Mario Alberto Sulú Canché',
       'Joanna Dennehy', 'Kimberly McCarthy', 'David Burgess',
       'Larry Hall', 'Alejandro Máynez', 'Billy Gohl',
       'Gerard John Schaefer', 'Macario Alcala Canchola', 'Bruce Lindahl',
       'Robert Zarinsky', 'Ed Gein', 'José Luis Calva', 'Shirley Winters',
       'Richard Rogers', 'Rabidin Satir', 'Castration serial murders',
       'Steven Brian Pennell', 'Glen Rogers', 'Mary Elizabeth Wilson',
       'Bradley Edwards', 'Hadden Clark', 'Gary M. Heidnik',
       'Ronny Rieken', 'Johann Otto Hoch', 'Carl Großmann',
       'Sailson Jose das Gracas', 'Bobby Jack Fowler', 'Leszek Pękalski',
       'Daniel Conahan', 'Tillie Klimek', 'Lyda Southard',
       'John Norman Collins', 'Velma Barfield', 'Raymond Morris',
       'Robert Anthony Buell', 'Hensley Anthony Neville',
       'Harold Shipman', 'Steven Massof', 'Niels Högel', 'Baba Anujka',
       'Kermit Gosnell', 'Louay Omar Mohammed al-Taei', 'Donald Harvey',
       'Jane Toppan', 'Charles Cullen', 'Stephan Letter',
       'Anders Hansson', 'Marcel Petiot', 'Arnfinn Nesset',
       'Roger Andermatt', 'Linda Hazzard', 'Maxim Petrov', 'Joan Vila',
       'Vickie Dawn Jackson', 'Ann Arbor Hospital Killer',
       'Ludivine Chambet', 'Frederick Mors', 'Elizabeth Wettlaufer',
       'Petr Zelenka', 'Marianne Nölle', 'Lucy Letby',
       'Orville Lynn Majors', 'Efren Saldivar', 'Christine Malèvre',
       'Antoinette Scieri', 'Ahmad Ahmadi', 'Kristen Gilbert',
       'Frans Hooijmaijers', 'Miyuki Ishikawa', 'Amy Archer-Gilligan',
       'Sonya Caleffi', 'Aino Nykopp-Koski', 'Kimberly Clark Saenz',
       'Michael Swango', 'Edson Izidoro Guimarães', 'Richard Angelo',
       'Colin Norris', 'Beverley Allitt', 'Abraao Jose Bueno',
       'Andrés Ulises Castillo Villarreal', 'Elfriede Blauensteiner',
       'Genene Jones', 'Benjamin Geen', 'Marie Fikáčková',
       'Victorino Chua', 'Christopher Duntsch',
       'Felícitas Sánchez Aguillón', 'Robert George Clements',
       'Murder Incorporated', 'Philadelphia poison ring',
       'Abboud and Khajawa', 'Delfina and María de Jesús González',
       'Peng Miaoji, Ding Yunjia and Su Xiaoping',
       'David Avendaño Ballina and his followers',
       'Hassan Orangi and Abbas Ali Zarifian', 'Angel Makers of Nagyrév',
       'Long Zhimin and Yan Shuxia',
       'Bian Kuang, Fu Xinyuan and Luo Lianshun',
       'Ivanova and Olga Tamarin', 'Ryno-Skachevsky gang',
       'Gang of Amazons',
       'Dean Corll, David Owen Brooks and Elmer Wayne Henley',
       'Brabant killers', 'Adolfo Constanzo and Sara Aldrete',
       'Shankill Butchers', 'Viktor Sayenko and Igor Suprunyuk',
       'Marcelo de Jesus Silva and his death squad',
       'Wang Zongfang and Wang Zongwei',
       'Anísio Ferreira de Sousa and followers', 'Ripper Crew',
       'John Allen Muhammad and Lee Boyd Malvo', 'Death Angels',
       'Vladyslav Volkovich and Volodymyr Kondratenko',
       'Lainz Angels of Death', 'The Cleaners',
       'José Miculax Bux and Mariano Macú Miculax',
       'Fred West and Rosemary West', 'Briley Brothers',
       'John Justin Bunting, Robert Joe Wagner and James Spyridon Vlassakis',
       'Mailoni Brothers', 'Leonard Lake and Charles Ng',
       'Bloody Benders', 'Shen Changyin and Shen Changping',
       'Polatbay Berdaliyev and Abduseit Ormanov',
       'Wolfgang Abel and Marco Furlan',
       'Juan Carlos Hernández and Patricia Martínez',
       'Hillside Stranglers', 'Joshi-Abhyankar serial murderers',
       'Gerald and Charlene Gallego', 'Viña del Mar psychopaths',
       'Yevgeny Nagorny and Sergei Stavitsky',
       'National Socialist Underground',
       'The Manson Family cult killings', 'Song Jinghua and Yan Jinguang',
       'Tadeusz Grzesik and the Bureaucrats Gang',
       'Edgar Álvarez Cruz and Francisco Granados',
       'The Ciudad Juárez Rebels', 'The Hernández Brothers Sect',
       'Rudolfo Infante and Anna Villeda',
       'Dale Hausner and Samuel Dieteman',
       'Futoshi Matsunaga and Junko Ogata',
       'Christopher Worrell and James Miller',
       'Fa Ziying and Lao Rongzhi',
       'Johannes van Rooyen and Dumisani Makhubela',
       "Auto Shankar's Gang", 'Gert van Rooyen and Joey Haarhof',
       'Kiss brothers and Zsolt István Pető',
       'Hermann Duft and Hans Wilhelm Bassenauer',
       'David Alan Gore and Fred Waterfield',
       'Artyom Alexandrovich Anoufriev and Nikita Vakhtangovich Lytkin',
       'The Skin Hunters', 'Ray and Faye Copeland',
       'Ian Brady and Myra Hindley', 'Lawrence Bittaker and Roy Norris',
       '"The Family"', 'James Gregory Marlow and Cynthia Coffman',
       'Gwendolyn Graham and Catherine May Wood', 'Chijon family',
       'Loren Herzog and Wesley Shermantine',
       'David and Catherine Birnie', 'John Duffy and David Mulcahy',
       'Raymond Fernandez and Martha Beck', 'Beasts of Satan',
       'James Paster and Stephen McCoy',
       'Paul Bernardo and Karla Homolka',
       'Michael Bear Carson and Suzan Carson',
       'Joseph and Michael Kallinger', 'Silvia Merez Cult',
       'Raya and Sakina and their husbands',
       'Amelia Sach and Annie Walters'], dtype=object)

In [ ]:
## Género:

In [70]:
df_unido['Name'].unique()

array(['Carl Eugene Watts', 'Philipp Tyurin', 'Zdzisław Marchwicki',
       'Monster of Florence', 'Joachim Kroll', 'Arthur Shawcross',
       'The Doodler', 'Marcelo Costa de Andrade', 'Julio Pérez Silva',
       'Sergey Shipilov', 'Abdufatto Zamanov', 'Jeong Nam-gyu',
       'Amir Qayyum', 'Jake Bird', 'Belle Gunness',
       'Cleveland Torso Murderer', 'Kaspars Petrovs', 'Richard Ramirez',
       'Sleepy Hollow Killer', 'Peter Sutcliffe',
       'Francisco Antonio Laureana', 'Tamara Samsonova', 'Herbert Mullin',
       'Boston Strangler', 'Lorenzo Gilyard', 'Joseph James DeAngelo',
       'Vladimir Storozhenko', 'Vasiliy Kulik', 'Nikolai Dudin',
       'Denis Pischikov', 'Nikolay Shubin', 'Johannes Mashiane',
       'Mukosi Freddy Mulaudzi', 'Thozamile Taki', 'Rainbow Maniac',
       'Naceur Damergi', 'Adolf Seefeldt', 'Donald Henry Gaskins',
       'William Suff', 'Vladimir Romanov', 'Maury Travis',
       'Dennis Nilsen', 'Kenneth Bianchi', 'Charles Sobhraj',
       'Abdallah al-Hubal', 'Nikolai Shestakov', 'Anatoly Sedykh',
       'Joseph Christopher', '"Paraquat murders" killer',
       'Enriqueta Martí', 'Herb Baumeister', 'John Bunting',
       'Sergey Golovkin', 'Juana Barraza', 'Zhang Yongming',
       'Jack Unterweger', 'Vaughn Greenwood', 'Benjamin Atkins',
       'Nannie Doss', 'Clifford Olson', 'Henri Désiré Landru',
       'West Mesa Killer', 'Anthony Sowell', 'Andre Crawford',
       'Francisco García Escalero', 'Robledo Puch', 'Adnan Çolak',
       'Seisaku Nakamura', 'Very Idham Henyansyah',
       'Francisco de Assis Pereira', 'Roshu Kha', 'Gao Chengyong',
       'Marie Alexandrine Becker', 'Ruslan Khamarov', 'Yevgeny Petrov',
       'Rudolf Pleil', 'Milton Johnson', 'Long Island serial killer',
       'Daniel Lee Siebert', 'Lonnie David Franklin Jr.', 'Sergey Cherny',
       'Bobby Joe Long', 'Stewart Wilken', 'David Randitsheni',
       'Edmund Kemper', 'Dennis Rader', 'Ali Kaya', 'Robert Wagner',
       'Jeanne Weber', 'Henry Louis Wallace', 'Angelo Buono Jr.',
       'Satish', 'Zhou Kehua', 'Kang Ho-sun', 'Eduard Shemyakov',
       'Oleg Kuznetsov', 'Stanislav Rogolev', 'Volker Eckert',
       'Louis van Schoor', 'Peter Kürten', 'Roger Dale Stafford',
       'Norman Afzal Simons', 'Francis Heaulme', 'Joel Rifkin',
       'Dagmar Overbye', 'Kenneth McDuff', 'Robert Joseph Silveria Jr.',
       'Richard Biegenwald', 'Alexander Bychkov',
       'New Bedford Highway Killer', 'Maryvale serial shooter',
       'Viktor Fokin', 'Timothy Krajcir',
       'Edgecombe County Serial Killer', 'Eric Edgar Cooke',
       'Joseph Paul Franklin', 'Yoshio Kodaira', 'Keith Hunter Jesperson',
       'Rodney Alcala', 'Kiyotaka Katsuta', 'Pierre Chanal',
       'Christopher Wilder', 'Axeman of New Orleans', 'Vladimir Retunsky',
       'Gilbert Paul Jordan', 'Bruce McArthur', 'Elizabeth Wettlaufer',
       'Nikolai Dzhumagaliev', 'Manuel Delgado Villegas', 'Ershad Sikder',
       'Ivan Milat', 'Michael Wayne McGray', 'Kenneth Erskine',
       'David Carpenter', 'Vladimir Kuzmin', 'Tommy Recco',
       'Todd Kohlhepp', 'Ohio Prostitute Killer', 'Derrick Todd Lee',
       'Tomás Maldonado Cera', 'Aileen Wuornos', 'Nikos Metaxas',
       'David Berkowitz', 'Richard Chase', 'Tommy Lynn Sells',
       'Władysław Mazurkiewicz', 'Gong Runbo',
       'Cristopher Chávez Cuellar', 'András Pándy', 'John Wayne Glover',
       'Alexander Sergeychik', 'Adrián Arroyo Gutiérrez', 'Joseph Naso',
       'Terry Peder Rasmussen', 'Richard Cottingham', 'Zodiac Killer',
       'John Floyd Thomas Jr.', 'Carl Panzram', 'Steve Wright',
       'Michel Peiry', 'Hubert Pilčík', 'Thomas Dillon', 'Joe Metheny',
       'Sek Kim Wah', 'Karl Denke',
       'Francisco das Chagas Rodrigues de Brito',
       'Luis Gregorio Ramírez Maestre', 'David Thabo Simelane',
       'Zhang Jun', 'Cedric Maake', 'Mariam Soulakiotis',
       'Bruce George Peter Lee', 'The Stoneman', 'Juan Corona',
       'Fritz Haarmann', 'Béla Kiss', 'Majid Salek Mohammadi',
       'Yvan Keller', 'Ronald Dominique', 'Juan Fernando Hermosa',
       'Earle Nelson', 'Mikhail Novosyolov', 'Manuel Octavio Bermúdez',
       'Patrick Kearney', 'William Bonin', 'Vasile Tcaciuc',
       'Yoo Young-chul', 'Francisco Guerrero Pérez', 'Abdullah Shah',
       'José Paz Bezerra', 'Bulelani Mabhayi', 'Mohan Kumar',
       'Alexander Spesivtsev', 'Larry Eyler', 'Surinder Koli',
       'El Psicópata', 'Sergei Ryakhovsky', 'Yevgeny Chuplinsky',
       'M. Jaishankar', 'Ansis Kaupēns', 'Vadim Ershov',
       'Velaphi Ndlangamandla', 'Yavuz Yapıcıoğlu', 'Paul John Knowles',
       'Thierry Paulin', 'Randall Woodfield', 'Umesh Reddy',
       'Christopher Mhlengwa Zikode', 'Asande Baninzi', 'Huang Yong',
       'Pedro Pablo Nakada Ludeña', 'Darbara Singh', 'Sergei Dovzhenko',
       'Donato Bilancia', 'Irina Gaidamachuk', 'Randy Steven Kraft',
       'Mohammed Bijeh', 'Michel Fourniret', 'Sipho Agmatir Thwala',
       'Saeed Hanaei', 'Jeffrey Dahmer', 'José Antonio Rodríguez Vega',
       'Elias Xitavhudzi', 'Jimmy Maketta', 'Jack Mogale',
       'Robert Lee Yates', 'Carroll Cole', 'Charles Ray Hatcher',
       'Yuri Ivanov', 'Vladimir Mirgorod', 'Lee Choon-jae',
       'Dorángel Vargas', 'Ravinder Kumar', 'Atlanta Ripper',
       'Robert Hansen', 'Ángel Maturino Reséndiz', 'Chester Turner',
       'Elifasi Msomi', 'Florencio Fernández', 'Bai Baoshan',
       'Maurizio Minghella', 'Alexander Labutkin', 'Luis Garavito',
       'Pedro López', 'Javed Iqbal', 'Mikhail Popkov',
       'Daniel Camargo Barbosa', 'Pedro Rodrigues Filho',
       'Kampatimar Shankariya', 'Yang Xinhai', 'Samuel Little',
       'Giuseppe Greco', 'Andrei Chikatilo', 'Anatoly Onoprienko',
       'Ivan Maleshoff', 'Florisvaldo de Oliveira', 'Willy Pickton',
       'Gary Ridgway', 'Alexander Pichushkin', 'Wang Qiang',
       'Ahmad Suradji', 'Raman Raghav', 'Tiago Henrique Gomes da Rocha',
       'Moses Sithole', 'Serhiy Tkach', 'Gennady Mikhasevich',
       'Hadj Mohammed Mesfewi', 'Vera Renczi', 'Ted Bundy',
       'Clementine Barnabet', 'John Wayne Gacy', 'Ali Asghar Borujerdi',
       'Vasili Komaroff', 'Fernando Hernández Leyva',
       'Ramadan Abdel Rehim Mansour', 'Radik Tagirov', 'Charlie Brandt',
       'Robert Black', 'Max Gufler', 'Ernesto Picchioni', 'Baekuni',
       'Igor Chernat', 'Ricky Lee Green', 'Robert Hicks Murray',
       'Dallen Bounds', 'Stephen Port', 'Robert Maudsley', 'Sharon Kinne',
       'Ted Kaczynski', 'Robert Ben Rhoades', 'Peter Tobin',
       'Pedro Padilla Flores', 'Billy Glaze', 'Bertha Gifford',
       'Bernhard Prigan', 'Stephen Griffiths', 'Koos Hertogs',
       'Chisako Kakehi', 'Dorothea Puente', 'Patrick Mackay',
       'Leonarda Cianciulli', 'Özkan Zengin', 'Albert Fish',
       'Heriberto Seda', 'John Martin'], dtype=object)